    </div>

</div>
<input type="hidden" id="hasLogin_hidden" value="{{#hasLogin}}yes{{/hasLogin}}{{^hasLogin}}no{{/hasLogin}}" username={{userid}} />

<div class="bottom-container">
    <div class="bottom">
        <a href="/about"><span class="menu-item" style="color: #bbb;">关于扒秘</span></a>
        <a style="color: #bbb;" href="/contract"><span class="menu-item">隐私权</span></a>
        <a style="color: #bbb;" href="/contact"><span class="menu-item">联系我们</span></a>
        <a style="color: #bbb;" href="mailto:3159461896@qq.com"><span class="menu-item">站长邮箱</span></a>
        <p class="text-center" style="color: #bbb;font-size: 13px;">
            广州扒秘网络科技有限公司 版权所有
            备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备15068980号</a>
        </p>
    </div>
</div>