    </div>

</div>
<input type="hidden" id="hasLogin_hidden" value="{{#hasLogin}}yes{{/hasLogin}}{{^hasLogin}}no{{/hasLogin}}" username={{userid}} />

<div class="bottom-container">
    <div class="bottom">
        <span class="menu-item">关于蟋蟀</span>
        <a style="color: #ddd;" href="/contract"><span class="menu-item">隐私权</span></a>
        <a style="color: #ddd;" href="mailto:3184323761@qq.com"><span class="menu-item">联系我们</span></a>
        <a style="color: #ddd;" href="mailto:3184323761@qq.com"><span class="menu-item">站长邮箱</span></a>
        <p class="text-center" style="color: #ddd;font-size: 13px;">广州蟋蟀网络科技有限公司 版权所有</p>
    </div>
</div>