{{# secretDatas}}
<div class="secret-area">
	<div class="secret-header">
		<span class ="black-icon"></span>
		<span class="text">{{secretMainType}}</span>
		{{#mine}}
		<span class="system-icons floater-del-button" data={{Id}}>删除</span>
		{{/mine}}
	</div>
	<div class="secret-body">
		<div class="secret-body-container" id="secret-body-container-{{Id}}">

			<div class="title-container">
				<span class="title">{{secretTitle}}</span>
				<span class="score">{{score}}</span>
			</div>
			<div class="items-container" style="width:600px;">
				<span class="items photo">
					<img src='{{> public/defaultImage}}' style="width:50px;height:50px;"/>
				</span>
				<span class="items name">{{owner}}</span>
				{{#targetShow othersex otherage secretKeyWord}}{{/targetShow}}
				{{#if othersex}}
				<span class="items sex">{{#floaterSex othersex}}{{/floaterSex}}</span>
				{{/if}}
				{{#if otherage}}
				<span class="items age">{{otherage}}岁</span>
				{{/if}}
				<span class="items age">{{secretKeyWord}}</span>
				<div class="text-container">
					{{secretContent}}
				</div>
			</div>
			<div class="comment-area">
				{{#if noReply}}
				{{else}}
				<div class='top'>
					<form action="/secret/floater/reply" method="post" target="secret-replay-iframe-{{Id}}" style="width:100%;">
						<textarea type="text" class="input  secrect-comment-area" style="background:none;font-size: 16px;" maxlength="140"></textarea>
						<input type="hidden" name="filedid" value="{{Id}}"/>
					</form>
					<button class="button floater-replay-button"  data="{{Id}}">发送</button>
					<!--<span class="score">评分：{{score}}</span>-->
				</div>
				{{/if }}
				<div class="bottom">
					<span class="left-text">漂流瓶发出时间：</span>
					<span class="left-text">{{secretDate}}</span>
					<span class="system-icons comment func-area floater-comment-button" data="{{Id}}" num="{{comments}}" id="comments-{{Id}}" title="回应" data-toggle="tooltip" data-placement="right">{{comments}}</span>
				</div>
			</div>
			<div style="width:100%;padding: 5px 20px;float:left;border-top:1px solid #ccc;display:none;" id="secret-comments-{{Id}}">
				{{# replays}}
				<div class="height:50px;line-height:50px;margin-bottom:10px;">
					<span style="font-weight:bold;">{{username}} 回复：</span>
					<span>{{content}}</span>
					<div style="color:#ccc;text-align:left;height:30px;line-height:30px;">
						{{date}}
					</div>
				</div>
				{{/ replays}}
			</div>
		</div>

	</div>
</div>
{{/ secretDatas}}
