{{# secretDatas}}
<div class="secret-area">
	<div class="secret-header">
		<span class ="black-icon"></span>
		<span class="text">{{secretMainType}}</span>
	</div>
	<div class="secret-body">
		<div class="secret-body-container">

			<div class="title-container">
				<span class="title">{{secretTitle}}</span>
				<span class="score">{{score}}</span>
			</div>
			<div class="items-container">
				<span class="items photo">
					<!--<img src='../../images/logo_demo.jpg'/>-->
					<img src='{{> public/defaultImage}}' style="width:50px;height:50px;"/>
				</span>
				{{^ mine}}
					<span class="items name">{{#dealUsername ../owner}}{{/dealUsername}}</span>
				{{/mine}}
				{{# mine}}
					<span class="items name">{{../owner}}</span>
				{{/mine}}
				<span class="items address">{{secretCity}}</span>
				<span class="items sex">{{sex}}</span>
				<span class="items age">{{age}}</span>
				<span class="items system-icons lable">{{secretKeyWord}}</span>
				<div class="text-container">
					{{longstory}}
				</div>
			</div>
			<div class="comment-area">
				<div class='top'>
					<form action="/secret/floater/reply" method="post" target="secret-replay-iframe-{{Id}}" style="width:100%;">
						<textarea type="text" class="input  secrect-comment-area" style="background:none;" maxlength="140"></textarea>
						<input type="hidden" name="filedid" value="{{Id}}"/>
					</form>
					<button class="button floater-replay-button"  data="{{Id}}">发送</button>
					<!--<span class="score">评分：{{score}}</span>-->
				</div>
				<div class="bottom">
					<span class="left-text">漂流瓶发出时间：</span>
					<span class="left-text">{{secretDate}}</span>
					<span class="system-icons comment func-area secret-comment-button" num="{{comments}}" id="comments-{{Id}}"title="评论" data-toggle="tooltip" data-placement="right">{{comments}}</span>
				</div>
			</div>
			<div style="width:100%;padding: 5px 20px;float:left;border-top:1px solid #ccc;display:none;" id="secret-comments-{{Id}}">
				{{# replays}}
				<div class="height:50px;line-height:50px;margin-bottom:10px;">
					<span style="font-weight:bold;">{{username}} 回复：</span>
					<span>{{content}}</span>
					<div style="color:#ccc;text-align:left;height:30px;line-height:30px;">
						{{date}}
					</div>
				</div>
				{{/ replays}}
			</div>
		</div>

	</div>
</div>
{{/ secretDatas}}