<script type="text/handlebars-template" id="secretComment-temple">
		<div style="margin:5px;border-top:1px solid #ccc;float:left;width:95%;">
		    <span style="height:30px;line-height:30px;display:block;float:left;width:100%;border-bottom:1px solid #ccc;cursor:pointer;font-weight:bold;" class="comment-title-bar">评论查看&nbsp;&nbsp;&nbsp;&nbsp;(收起)</span>
		    \{{# replays}}
		    <span style="display:block;float:left;width:100%;line-height:30px;overflow:hidden;padding-bottom:10px;border-bottom:1px solid #ccc;">
		        <span style="display:block;float:left;width:90%;line-height:20px;overflow:hidden;color:#aaa;">
		            \{{content}}
		        </span>
		        \{{#ifCond secretMainType '悬赏秘密'}}
		        \{{# mine}}
		        <button class="btn btn-sm btn-xuanshang-caina" data-fileid="\{{fileid}}" data-title="\{{secretTitle}}" data-receiver="\{{replayer}}" data-price="\{{secretPrice}}" style="float:right;padding:0;">采纳</button>
		        \{{/mine}}
		        \{{/ifCond}}
		        <span style="display:block;float:left;color:#000;">回复人：<span style="color:#ff5a00;">\{{replayer}}</span></span>
		        <span style="display:block;float:right;color:#000;">回复时间：<span style="color:#ccc;">\{{replayTime}}</span>	</span>
		    </span>
		   \{{/ replays}}

		    \{{^ replays}}
		        <span style="display:block;float:left;width:100%;line-height:30px;overflow:hidden;padding-bottom:10px;border-bottom:1px solid #ccc;">
		            <span style="display:block;float:left;width:100%;line-height:30px;overflow:hidden;padding-bottom:10px;color:#aaa;">
		                暂无评论
		            </span>
		        </span>
		    \{{/ replays}}
		</div>
 	</script>
    <script src="../../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="../../../js/jquery.form.min.js" charset="UTF-8"></script>
    <script src="../../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../js/jquery.mousewheel.min.js"></script>
    <script src="../../../js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="../../../js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../js/handlebars.js" charset="UTF-8"></script>

    <script src="../../../js/public.js"></script>
	<script>
		window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
	</script>