    <script src="../../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../js/jquery.mousewheel.min.js"></script>
    <script src="../../../js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="../../../js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../../js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="../../../js/public.js"></script>