<div class="friend-area{{#if hasLogin}} hasLogin{{/if}}">
	<div class="container-friend-area">
		<ul class="talk-ul">
			<!--<li class="item-li">
				<span class="title system-icons">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;群
				<span class="num">10</span>
				</span>
			</li>-->
			<li class="item-li-choosen">
				<span class="title system-icons">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好友列表</span>
				
				<ul class="friend-ul">
					{{# friends}}
					<li username="{{username}}">
						<span class="photo">
							<img src="{{#userPhotoShow userPhoto}}{{/userPhotoShow}}" style="width:25px;height:25px;border-radius: 15px;" />
						</span>
						<span style="float:left;width:80px;overflow:hidden;">
							<span class="user-msg username">{{username}}</span>
							{{!--<span class="user-msg usermark">{{mark}}</span>--}}
						</span>

						<button class="btn btn-sm btn-primary pull-right chatgroup-add-btn">开始群聊</button>
					</li>
					{{/ friends}}
				</ul>
			</li>
		</ul>
	</div>
</div>