<div class="friend-area">
						<div class="container">
							<ul class="talk-ul">
								<li class="item-li">
									<span class="title system-icons">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;群
									<span class="num">10</span>
									</span>
								</li>
								<li class="item-li-choosen">
									<span class="title system-icons">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好友列表<span class="num">13</span></span>
									
									<ul class="friend-ul">
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
										<li>
											<span class="photo">
												<img src="../../images/logo_demo.png"/>
											</span>
											<span class="user-msg username">舍得</span>
											<span class="user-msg usermark">一个人只可能有一种命运</span>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>