<div class="friend-area">
	<div class="container-friend-area">
		<ul class="talk-ul">
			<!--<li class="item-li">
				<span class="title system-icons">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;群
				<span class="num">10</span>
				</span>
			</li>-->
			<li class="item-li-choosen">
				<span class="title system-icons">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好友列表<span class="num myfriends-count">13</span></span>
				
				<ul class="friend-ul">
					{{# friends}}
					<li  username="{{username}}">
						<span class="photo">
							<img src="/avatar/{{userPhoto}}"/>
						</span>
						<span class="user-msg username">{{username}}</span>
						<span class="user-msg usermark">{{mark}}</span>
					</li>
					{{/ friends}}
				</ul>
			</li>
		</ul>
	</div>
</div>