<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{title}}</title>
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="../../../css/bootstrap.min.css">


        
        <link href="../../../css/home/home.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="../../../css/jquery.mCustomScrollbar.min.css">
        <link href="../../../css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    </head>

            <div id="dialog-form" title="Create new user" style="display:none;">
          <p class="validateTips">All form fields are required.</p>
          <form>
            <fieldset>
              <label for="name">Name</label>
              <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
         
              <!-- Allow form submission with keyboard without duplicating the dialog button -->
              <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
          </form>
        </div>
        
        <div class="body-container">
            <div class="header-container">

                <div class="top-header-container">
                    <div class="top-header">
                    	{{# hasLogin}}
                    		<span class="left-area registry-area " id="registry-area"  login="true" style="width:400px;"><span class="system-icons icon"></span>{{.}}&nbsp;&nbsp;<a href='/secret/permsg'>[个人中心]</a>&nbsp;&nbsp;&nbsp;<a href='/logout'>[退出登录]</a></span>
                    	{{/ hasLogin}}
                    	
                    	{{^ hasLogin}}
                            <span class="left-area registry-area " id="registry-area"  login="false"><span class="system-icons icon"></span>注册</span>
                            <span class="left-area login-area" id="login-area">登录</span>
                        {{/ hasLogin}}
                        <a class="logo-area system-icons" href="/"></a>
                        <span class="search-area">
                            <a class="system-icons button search-button"></a>
                            <input type="text" class="input"/>
                        </span>
                    </div>
                </div>

                <div class="bottom-header-container">
                    <div class=" header bottom-header">
                        <span class="{{#newest_choosen}}menu-item-choosen{{/newest_choosen}}{{^newest_choosen}}menu-item{{/newest_choosen}}"><a href="/">最新</a>
                            <span class="underline"></span>
                        </span>
                        <span class="{{#wo_choosen}}menu-item-choosen{{/wo_choosen}}{{^wo_choosen}}menu-item{{/wo_choosen}}"><a href="/secret/mine">WO的秘密</a><span class="underline"></span></span>
                        <span class="{{#ta_choosen}}menu-item-choosen{{/ta_choosen}}{{^ta_choosen}}menu-item{{/ta_choosen}}"><a href="/secret/ta">TA的秘密</a><span class="underline"></span></span>
                        <span class="{{#sell_choosen}}menu-item-choosen{{/sell_choosen}}{{^sell_choosen}}menu-item{{/sell_choosen}}"><a href="/secret/sell">出售秘密</a><span class="underline"></span></span>
                        <span class="{{#offer_choosen}}menu-item-choosen{{/offer_choosen}}{{^offer_choosen}}menu-item{{/offer_choosen}}"><a href="/secret/offer">秘密悬赏</a><span class="underline"></span></span>
                        <span class="{{#floater_choosen}}menu-item-choosen{{/floater_choosen}}{{^floater_choosen}}menu-item{{/floater_choosen}}"><a href="/secret/floater">漂流瓶</a><span class="underline"></span></span>

                        <span class="{{#longstore_choosen}}menu-item-choosen{{/longstore_choosen}}{{^longstore_choosen}}menu-item{{/longstore_choosen}}"><a href="/secret/longstore">长文</a><span class="underline"></span></span>

                        <span class="{{#order_choosen}}menu-item-choosen{{/order_choosen}}{{^order_choosen}}menu-item{{/order_choosen}}"><a href="/secret/order">定制</a><span class="underline"></span></span>
                    </div>
                </div>
            </div>
            <div class="main-container">
