{{# innerpageLeftTop}}
<div class="adv-area">
	<div class="img-area">
		<a href="{{href}}" target="_blank" class="link">
			<img src="/avatar/{{images}}"  style="min-height:243px;" alt="" class="img" />
		</a>
	</div>
	<div class="comment-area">
		<div class="bottom">
			<span class="left-text">发文时间：</span>
			<span class="left-text nofloat">2015-7-21 12:10{{sendTime}}</span>
			<!--<span class="system-icons good func-area">30</span>
			<span class="system-icons bad func-area">30</span>
			<span class="system-icons comment func-area">30</span>-->
		</div>
		<div class='top'>
			<input type="text" style="width:65%;" class="input"/>
			<button class="button adv-replay-btn"  style="margin:0 5px;">发送</button>
			<input type="hidden" value="innerpage-left-top"/>
			<span class="get-score">得分：<span style="color:#ff5a00">{{score}}</span></span>
			<span class="score">评分：
				<select class="adv-score-select" data="{{Id}}">
					<option {{#myscore 10 score }}{{/myscore}}>10</option>
					<option {{#myscore 9 score }}{{/myscore}}>9</option>
					<option {{#myscore 8 score }}{{/myscore}}>8</option>
					<option {{#myscore 7 score }}{{/myscore}}>7</option>
					<option {{#myscore 6 score }}{{/myscore}}>6</option>
					<option {{#myscore 5 score }}{{/myscore}}>5</option>
					<option {{#myscore 4 score }}{{/myscore}}>4</option>
					<option {{#myscore 3 score }}{{/myscore}}>3</option>
					<option {{#myscore 2 score }}{{/myscore}}>2</option>
					<option {{#myscore 1 score }}{{/myscore}}>1</option>
					<option {{#myscore 0 score }}{{/myscore}}>0</option>
				</select>
			</span>
		</div>
	</div>
</div>
{{/ innerpageLeftTop}}

{{# innerpageLeftBottom}}
<div class="adv-area">
	<div class="img-area">
		<a href="{{href}}" target="_blank" class="link">
			<img src="/avatar/{{images}}"  style="min-height:243px;" alt="" class="img" />
		</a>
	</div>
	<div class="comment-area">
		
		<div class="bottom">
			<span class="left-text">发文时间：</span>
			<span class="left-text nofloat">2015-7-21 12:10{{sendTime}}</span>
			<!--<span class="system-icons good func-area">30</span>
			<span class="system-icons bad func-area">30</span>
			<span class="system-icons comment func-area">30</span>-->
		</div>
		<div class='top'>
			<input type="text" style="width:65%;" class="input"/>
			<button class="button adv-replay-btn"  style="margin:0 5px;">发送</button>
			<input type="hidden" value="innerpage-left-bottom"/>
			<span class="get-score">得分：<span style="color:#ff5a00">{{score}}</span></span>
			<span class="score">评分：
				<select class="adv-score-select" data="{{Id}}">
					<option {{#myscore 10 score }}{{/myscore}}>10</option>
					<option {{#myscore 9 score }}{{/myscore}}>9</option>
					<option {{#myscore 8 score }}{{/myscore}}>8</option>
					<option {{#myscore 7 score }}{{/myscore}}>7</option>
					<option {{#myscore 6 score }}{{/myscore}}>6</option>
					<option {{#myscore 5 score }}{{/myscore}}>5</option>
					<option {{#myscore 4 score }}{{/myscore}}>4</option>
					<option {{#myscore 3 score }}{{/myscore}}>3</option>
					<option {{#myscore 2 score }}{{/myscore}}>2</option>
					<option {{#myscore 1 score }}{{/myscore}}>1</option>
					<option {{#myscore 0 score }}{{/myscore}}>0</option>
				</select>
			</span>
		</div>
	</div>
</div>
{{/ innerpageLeftBottom}}