<div class="adv-area">
	<div class="img-area">
		<a href="http://www.baidu.com" target="_blank" class="link">
			<img src="../../images/logo_demo.png" alt="" class="img" />
		</a>
	</div>
	<div class="comment-area">
		
		<div class="bottom">
			<span class="left-text">发文时间：</span>
			<span class="left-text nofloat">2015-7-21 12:10{{sendTime}}</span>
			<span class="system-icons good func-area">30</span>
			<span class="system-icons bad func-area">30</span>
			<span class="system-icons comment func-area">30</span>
		</div>
		<div class='top'>
			<input type="text" class="input"/>
			<button class="button"  style="margin:0 5px;">发送</button>
			<span class="get-score">得分：{{score}}</span>
			<span class="score">评分：{{score}}</span>
		</div>
	</div>
</div>