{{# secretDatas}}
<div class="secret-area">
	<div class="secret-header">
		<span class ="black-icon"></span>
		<span class="text">{{secretType}}</span>
	</div>
	<div class="secret-body">
		<div class="secret-body-container">

			<div class="title-container">
				<span class="title">{{secretTitle}}</span>
				<span class="score">{{score}}</span>
			</div>
			<div class="items-container">
				<span class="items photo">
					<!--<img src='../../images/logo_demo.jpg'/>-->
					<img src='{{> public/defaultImage}}' style="width:50px;height:50px;"/>
				</span>
				<span class="items name">{{username}}</span>
				<span class="items address">{{secretCity}}</span>
				<span class="items sex">{{sex}}</span>
				<span class="items age">{{age}}</span>

				{{#prize}}
					<span class="items system-icons money ">{{.}}</span>
				{{/prize}}

				<span class="items system-icons lable">{{keyword}}</span>
				<div class="text-container">
					{{secretContent}}
				</div>
			</div>
			<div class="comment-area">
				<div class='top'>
					<textarea type="text" class="input  secrect-comment-area" maxlength="140"></textarea>
					<button class="button secret-comments-replay-button"  data="{{secretID}}">发送</button>
					<!--<span class="score">评分：{{score}}</span>-->
				</div>
				<div class="bottom">
					<span class="left-text">发文时间：</span>
					<span class="left-text">{{secretDate}}</span>
					<span class="system-icons good func-area secret-good-area" name="secret-fun-{{secretID}}" num="{{goodNum}}" id="secret-fun-{{secretID}}-good">{{goodNum}}</span>
					<span class="system-icons bad func-area secret-bad-area" name="secret-fun-{{secretID}}" num="{{badNum}}" id="secret-fun-{{secretID}}-bad">{{badNum}}</span>
					<span class="system-icons comment func-area secret-comment-button" num="{{comments}}" id="comments-{{secretID}}">{{comments}}</span>
				</div>
			</div>
			<div style="width:100%;padding: 5px 20px;float:left;border-top:1px solid #ccc;display:none;" id="secret-comments-{{secretID}}">
				{{# replays}}
				<div class="height:50px;line-height:50px;margin-bottom:10px;">
					<span style="font-weight:bold;">{{username}} 回复：</span>
					<span>{{content}}</span>
					<div style="color:#ccc;text-align:left;height:30px;line-height:30px;">
						{{date}}
					</div>
				</div>
				{{/ replays}}
			</div>
		</div>

	</div>
</div>
{{/ secretDatas}}