{{# secretDatas}}
<div class="secret-area">
	<div class="secret-header">
		<span class ="black-icon"></span>
		<span class="text">{{secretMainType}}</span>
	</div>
	<div class="secret-body">
		<div class="secret-body-container" id="secret-body-container-{{Id}}">

			<div class="title-container">
				<span class="title">{{secretTitle}}</span>
				<span class="score">{{score}}</span>
			</div>
			<div class="items-container">
				<span class="items photo">
					<!--<img src='../../images/logo_demo.jpg'/>-->
					<img src='{{> public/defaultImage}}' style="width:50px;height:50px;"/>
				</span>
				{{^ mine}}
				<span class="items name">{{#dealUsername ../owner}}{{/dealUsername}}</span>
				{{/ mine}}
				{{# mine}}
				<span class="items name">{{../owner}}</span>
				{{/ mine}}
				<span class="items address">{{secretCity}}</span>
				<span class="items sex">{{sex}}</span>
				<span class="items age">{{age}}</span>

				{{#secretPrice}}
					<span class="items system-icons money ">{{.}}</span>
				{{/secretPrice}}

				<span class="items system-icons lable">{{secretKeyWord}}</span>
				<div class="text-container">
					{{#if secretContent}}
					背景：{{../secretBackground}}|正文：{{../secretContent}}|感悟：{{../secretKnown}}
					{{/if}}
					{{^if secretContent}}
						{{../longstory}}
					{{/if}}
				</div>
			</div>
			<div class="comment-area">
				<div class='top' style="position:relative;overflow:hidden;">
					<form action="/secret/replaysave" method="post" target="secret-replay-iframe-{{Id}}" style="width:100%;">
						<textarea type="text" name="content" class="input  secrect-comment-area" style="float:left;"  maxlength="140"></textarea>
						<input type="submit" class="secret-comments-replay-submit-button" style="display:none;"/>
						<input type="hidden" name="filedid" value="{{Id}}"/>
						<input type="hidden" name="replayTime" class="replayTime"/>
					</form>
					<button class="button secret-comments-replay-button"  data="{{Id}}" style="position:absolute;top:0;left:400px;">发送</button>
					<iframe name="secret-replay-iframe-{{Id}}" style="display:none;"></iframe>
					<!--<span class="score">评分：{{score}}</span>-->
				</div>
				<div class="bottom">
					<span class="left-text">发文时间：</span>
					<span class="left-text">{{secretDate}}</span>

					<span class="system-icons func-area secret-good-area {{# choosenGood}}good-icon-choosen{{/ choosenGood}}{{^ choosenGood}}good{{/choosenGood}}" name="secret-fun-{{Id}}" num="{{goodNum}}" id="secret-fun-{{Id}}-good" data="{{Id}}">{{#goodNum}}{{.}}{{/goodNum}}{{^goodNum}}0{{/goodNum}}</span>
					<span class="system-icons  func-area secret-bad-area {{# choosenBad}}bad-icon-choosen{{/ choosenBad}}{{^choosenBad}}bad{{/choosenBad}}" name="secret-fun-{{Id}}" num="{{badNum}}" id="secret-fun-{{Id}}-bad" data="{{Id}}">{{#badNum}}{{.}}{{/badNum}}{{^badNum}}0{{/badNum}}</span>

					<span class="system-icons comment func-area secret-comment-button" data="{{Id}}" num="{{comments}}" id="comments-{{Id}}">{{#commNum}}{{.}}{{/commNum}}{{^commNum}}0{{/commNum}}</span>
				</div>
			</div>
			<div style="width:100%;padding: 5px 20px;float:left;border-top:1px solid #ccc;display:none;" id="secret-comments-{{secretID}}">
				{{# replays}}
				<div class="height:50px;line-height:50px;margin-bottom:10px;">
					<span style="font-weight:bold;">{{username}} 回复：</span>
					<span>{{content}}</span>
					<div style="color:#ccc;text-align:left;height:30px;line-height:30px;">
						{{date}}
					</div>
				</div>
				{{/ replays}}
			</div>

			

		</div>

	</div>
</div>
{{/ secretDatas}}