{{# secretDatas}}
<div class="secret-area">
	<div class="secret-header">
		<span class ="black-icon"></span>
		<span class="text">{{secretMainType}}</span>
		{{#mine}}<span class="system-icons secret-del-button" data={{Id}}>删除</span>{{/mine}}
	</div>
	<div class="secret-body">
		<div class="secret-body-container" id="secret-body-container-{{Id}}">

			<div class="title-container">
				<span class="title">{{secretTitle}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#000;font-size:12px;">关键字：</span><a href="/search?type='keyword'&keyword={{secretKeyWord}}" class="items system-icons lable">{{secretKeyWord}}</a></span>
				<span class="score">可信度评分：<span style="color:#ff5a00;">
				{{#avgscore}}{{.}}{{/avgscore}}
				{{^avgscore}}0{{/avgscore}}
				</span></span>
			</div>
			<div class="items-container">
				<span class="items photo">
					<img src='{{> public/defaultImage}}' style="width:30px;height:40px;"/>
				</span>
				{{^ mine}}
				<span style="color:#000;font-size:14px;float:left;height:30px;line-height:30px;">发帖人：</span>
				<span class="items name">{{#dealUsername ../owner}}{{/dealUsername}}</span>
				{{/ mine}}
				{{# mine}}
				<span style="color:#000;font-size:12px;float:left;height:30px;line-height:30px;">发帖人：</span>
				<span class="items name">{{../owner}}</span>
				{{/ mine}}
				<span class="items sex">{{sex}}</span>
				<span class="items age">{{age}}</span>
				&nbsp;&nbsp;
				<span class="items">个人可信度评分：</span>
				<span class="items age">{{#if personal_score}}{{personal_score}}{{else}}0{{/if}}</span>

				{{#scorePrize  secretPrice}}
					
				{{/scorePrize}}

				

				
				<p></p>
				{{#otherSecretName othername}}{{/otherSecretName}}
				{{#if secretPrice}}
				<span class="items address">城市：{{secretCity}}</span>
				{{else}}
				<span class="items address">对方城市：{{secretCity}}</span>
				{{/if}}
				{{#otherSecretSex othersex}}{{/otherSecretSex}}
				{{#otherSecretAge otherage}}{{/otherSecretAge}}
				{{#otherSecretBuildName otherBuildName otheraddress}}{{/otherSecretBuildName}}

				<div class="text-container">
					{{#if secretContent}}
					背景：{{../secretBackground}}|正文：{{../secretContent}}|感悟：{{../secretKnown}}
					{{/if}}
					{{^if secretContent}}
						{{../longstory}}
					{{/if}}
				</div>
			</div>
			<div class="comment-area">
				<div class='top' style="position:relative;overflow:hidden;">
					<form action="/secret/replaysave" method="post" target="secret-replay-iframe-{{Id}}" style="width:100%;">
						<textarea type="text" name="content" class="input  secrect-comment-area" style="float:left;"  maxlength="140"></textarea>
						<input type="submit" class="secret-comments-replay-submit-button" style="display:none;"/>
						<input type="hidden" name="filedid" value="{{Id}}"/>
						<input type="hidden" name="replayTime" class="replayTime"/>
					</form>
					<button class="button secret-comments-replay-button"  data="{{Id}}" style="position:absolute;top:0;left:400px;">发送</button>
					<iframe name="secret-replay-iframe-{{Id}}" style="display:none;"></iframe>
					<!--<span class="score">评分：{{score}}</span>-->
				</div>
				<div class="bottom">
					<span class="left-text">秘密时间：</span>
					<span class="left-text">{{secretDate}}</span>

					<span class="system-icons func-area secret-good-area {{# choosenGood}}good-icon-choosen{{/ choosenGood}}{{^ choosenGood}}good{{/choosenGood}}" name="secret-fun-{{Id}}" num="{{goodNum1}}" id="secret-fun-{{Id}}-good" data="{{Id}}">{{#goodNum1}}{{.}}{{/goodNum1}}{{^goodNum1}}0{{/goodNum1}}</span>
					<span class="system-icons  func-area secret-bad-area {{# choosenBad}}bad-icon-choosen{{/ choosenBad}}{{^choosenBad}}bad{{/choosenBad}}" name="secret-fun-{{Id}}" num="{{badNum1}}" id="secret-fun-{{Id}}-bad" data="{{Id}}">{{#badNum1}}{{.}}{{/badNum1}}{{^badNum1}}0{{/badNum1}}</span>

					<span class="system-icons comment func-area secret-comment-button" data="{{Id}}" num="{{comments}}" id="comments-{{Id}}">{{#commNum}}{{.}}{{/commNum}}{{^commNum}}0{{/commNum}}</span>

					{{^ mine}}
					<span class="score-area">
						<span class="score-text">可信度评分：</span>
						<select class="secret-score-select" data="{{Id}}" {{#isScoreDisabled userscore}}{{/isScoreDisabled}}>
							<option {{#myscore 10 userscore }}{{/myscore}}>10</option>
							<option {{#myscore 9 userscore }}{{/myscore}}>9</option>
							<option {{#myscore 8 userscore }}{{/myscore}}>8</option>
							<option {{#myscore 7 userscore }}{{/myscore}}>7</option>
							<option {{#myscore 6 userscore }}{{/myscore}}>6</option>
							<option {{#myscore 5 userscore }}{{/myscore}}>5</option>
							<option {{#myscore 4 userscore }}{{/myscore}}>4</option>
							<option {{#myscore 3 userscore }}{{/myscore}}>3</option>
							<option {{#myscore 2 userscore }}{{/myscore}}>2</option>
							<option {{#myscore 1 userscore }}{{/myscore}}>1</option>
							<option {{#myscore 0 userscore }}{{/myscore}}>0</option>
						</select>
					</span>
					{{/ mine}}
				</div>
			</div>
			

			

		</div>

	</div>
</div>
{{/ secretDatas}}