<div class="survey-area">
						<div class="titile">今日趣味调查</div>
						<div class="asker">william wang</div>
						<div class="question">你存款够20万吗？</div>
						
						<div class="survey-container">
							<span class="good"><span class="icon system-icons"></span>Yes</span>
							<span class="bad system-icons"><span class="icon system-icons"></span>No</span>
							<span class="good-num">250000</span>
							<span class="bad-num">34</span>
							<span class="result">
								<span class="good-area"></span>
								<span class="mid-area"></span>
								<span class="bad-area"></span>
							</span>
						</div>
					</div>