
	{{> public/header}}

        <div class="left-container">
		    {{> public/rightAdv}}
		</div>

		<div class="mid-container">
			{{> public/topadv}}
		    {{> public/secret}}

		</div>

		<div class="right-container">
		    {{> public/sendSecret}}
	    	{{> public/friends}}

		    {{> public/survey}}
		    {{> public/notice}}
		    {{> public/hotSecret}}
		</div>

    {{> public/bottom}}
        
    {{> public/login}}
    {{> public/registry}}




	</body>
	{{> public/footer}}
	<script type="text/javascript">
		$(".friend-ul").mCustomScrollbar({
    		theme:"dark"
		});
		   $(".ui-dialog-content").mCustomScrollbar({
    		theme:"dark"
			});
		   
	</script>
</html>