
	{{> public/header}}

        <div class="left-container">
		    {{> public/rightAdv}}
		</div>

		<div class="mid-container">
		    {{> public/secret}}

		</div>

		<div class="right-container">
		    {{> public/sendSecret}}
		    {{> public/friends}}
		    {{> public/survey}}
		    {{> public/hotSecret}}
		</div>

    {{> public/bottom}}
        
    {{> public/login}}
    {{> public/registry}}




	</body>
	{{> public/footer}}
	<script type="text/javascript">
		$(".friend-ul").mCustomScrollbar({
    		theme:"dark"
		});
		var dialog = $("#dialog-form").dialog({
		      autoOpen: false,
		      height: 300,
		      width: 350,
		      modal: true,
		      buttons: {
		        "Create an account": function(){},
		        Cancel: function() {
		          dialog.dialog( "close" );
		        }
		      },
		      close: function() {
		        form[ 0 ].reset();
		        allFields.removeClass( "ui-state-error" );
		      }
		   });
		   $(".ui-dialog-content").mCustomScrollbar({
    		theme:"dark"
			});
		   
	</script>
</html>