{{> public/header}}


    <div class="left-container">
        {{> public/rightAdv}}
    </div>


<div class="mid-container order-area">
  <div class="order-oirder-container" id="order-oirder-container">
  <form method="post" action="/secret/orderdealsave" id="order_form">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td align="right">选择频道</td>
        <td colspan="5">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="secret_select_maintype_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                WO的秘密
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#" id="mine_secret" class=" select-pindao-subitem" name="secretMainType">WO的秘密</a></li>
                <li><a href="#" id="ta_secret"  class=" select-pindao-subitem" name="secretMainType">TA的秘密</a></li>
                <li><a href="#" id="sell_secret"  class=" select-pindao-subitem" name="secretMainType">出售秘密</a></li>
                <li><a href="#" id="order_secret"  class=" select-pindao-subitem" name="secretMainType">悬赏秘密</a></li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
        <tr>
          <td class="lable">选择类型</td>
          <td>
          
          <ul class="nav navbar-nav" id="type_ul">
            <li class="dropdown">
              <a id="secrettype_one" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a class="select-item"  data-src='' target="" name="secretType">选择类型</a></li>
                <li><a class="select-item"  data-src='type' target="woai" name="secretType">我爱</a></li>
                <li><a  class="select-item" data-src='type' target="wohen" name="secretType">我恨</a></li>
                <li><a  class="select-item" data-src='type' target="woxiang" name="secretType">我想</a></li>
                <li><a class="select-item" data-src='type' target="wozuoguo" name="secretType">我做过</a></li>
                <li><a class="select-item" data-src='type' target="woxihuanzuo" name="secretType">我喜欢做</a></li>
                <li><a class="select-item" data-src='type' target="wozuijin" name="secretType">我最近</a></li>
                <li><a class="select-item" data-src='type' target="guaipi" name="secretType">怪癖</a></li>
                <li><a class="select-item" data-src='type' target="typeqita" name="secretType">其他</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型</td>
          <td>
            

          <ul class="nav navbar-nav" id="subtype_ul">
            <li class="dropdown">
              <a id="secret_select_subtype_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择子类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">

              </ul>
            </li>
          </ul>


          </td>
          <td class="lable" id="grandsubtype_label">选择孙类型</td>
          <td>
              <ul class="nav navbar-nav" id="grandsubtype_ul">
              </ul>
          </td>
        </tr>

        <!--秘密类型-->
        <input type="hidden" name="secretType" id="secretType_hidden"/>
        <!--子类型-->
        <input type="hidden" name="secretSubType" id="secretSubType_hidden"/>
        <!--孙子类型-->
        <input type="hidden" name="secretGrandSubType" id="secretGrandSubType_hidden"/>
        <!--秘密类型-->
        <input type="hidden" name="secretMainType" id="current_choosen_type" value="WO的秘密"/>

        <tr>
          <td align="right">城市</td>
          <td style="text-align:left;">&nbsp;&nbsp;&nbsp;
            <input type="text" style="width:100px;" name="secretCity" />
          </td>
          <td align="right">性别</td>
          <td>      
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="secret_othersex_text" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择性别
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a class="select-subitem-other" name="secretSex" data-val="0">选择性别</a></li>
                  <li><a class="select-subitem-other" name="secretSex" data-val="1">男</a></li>
                  <li><a class="select-subitem-other" name="secretSex" data-val="2">女</a></li>
                </ul>
              </li>
            </ul>
            <input type="hidden" name="secretSex" id="secretSex_hidden" value="1"/>
            </td>
          <td align="right">年龄</td>
          <td>            
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="secret_otherage_text" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择年龄
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a  class="select-subitem-other" name="secretAge">选择年龄</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">10~15</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">16~20</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">21~25</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">26~30</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">31~35</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">36~40</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">41~45</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">46~50</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">51~55</a></li>
                  <li><a  class="select-subitem-other" name="secretAge">56~60</a></li>
                </ul>
              </li>
            </ul>
            <input type="hidden" name="secretAge" id="secretAge_hidden" value="26~30"/>
            </td>
        </tr>
    </table>
    </form>
    <button class="btn btn-primary" id="secret_order_post_button" style="display:block;float:right;margin-right:30px;">提交</button>


  </div>
  <div class="order-title">我的定制</div>
  {{> public/secret}}
</div>
    <div class="right-container">
        {{> public/sendSecret}}
        {{> public/friends}}
        {{> public/notice}}
        {{> public/survey}}
        {{> public/hotSecret}}
    </div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}

  </body>
  {{> public/footer}}

  <script type="text/javascript">
    var current_pindao = 'WO的秘密';
    var current_type = '选择类型';
    var current_subtype = '选择子类型';
    var current_grandsubtype = '选择孙类型';
    var cityname = '';
    var sex = 0;
    var age = '选择年龄';

    {{# order_info}}
      {{#if maintype}}
      current_pindao = "{{maintype}}";
      {{/if}}

      {{#if type}}
      current_type = "{{type}}";
      {{/if}}

      {{#if subtype}}
      current_subtype = "{{subtype}}";
      {{/if}}

      {{#if grandsubtype}}
      current_grandsubtype = "{{grandsubtype}}";
      {{/if}}

      {{#if cityname}}
      cityname = "{{cityname}}";
      {{/if}}

      {{#if sex}}
      sex = {{sex}}
      {{/if}}

      {{#if age}}
      age = "{{age}}"
      {{/if}}
    {{/ order_info}}
  </script>
  <script type="text/javascript" src="../../js/order.js"></script>
  <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
    
  </script>
</html>