{{> public/header}}
    <style type="text/css">
    #preview_size_fake{
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);visibility:hidden;}</style>

    <div class="left-container">
        {{> public/personal_left}}
    </div>

<div class="mid-container">

    <div class="personal-my-secret personal-div-container" style="text-align: left;">
        <span class="personal-title" style="margin-bottom:30px;">
        <span class="icon system-icons"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;我的秘密

    </span>
        {{#if secretDatas}}
        {{> public/secret}}
        {{else}}
        <h3 style="font-size: 14px;">暂无数据</h3>
        {{/if}}
    </div>


</div>
    <div class="right-container">
        {{> public/sendSecret}}
        {{> public/friends}}
        {{> public/survey}}
        {{> public/hotSecret}}
    </div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}


  </body>
    {{> public/personal_js}}
</html>

