{{> public/header}}
    <style type="text/css">
    #preview_size_fake{
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);visibility:hidden;}</style>

    <div class="left-container">
		{{> public/personal_left}}
    </div>

<div class="mid-container">

<div class="personal-mymsg personal-div-container">
    <span class="personal-title">
        <span class="icon system-icons"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;个人消息
    </span>
    <span class="msg-item">
        <span class="msg-type-unread">&nbsp;&nbsp;好友请求
        <span class="new">未读消息</span>
        </span>


        <div class="container-area">
            asdfasdfasdfasdfasdf
        </div>


        <span class="button-area">
            <button class="button readed">已读</button>
            <button class="button del">删除</button>
        </span>
    </span>



    <span class="msg-item">
        <span class="msg-type">&nbsp;&nbsp;系统通知</span>
        <div class="container-area">
            asdfasdfasdfasdfasdf
        </div>


        <span class="button-area">
            <button class="button readed">已读</button>
            <button class="button del">删除</button>
        </span>
    </span>

</div>














</div>
    <div class="right-container">
        {{> public/sendSecret}}
        {{> public/friends}}
        {{> public/survey}}
        {{> public/hotSecret}}
    </div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}


  </body>
{{> public/personal_js}}
</html>

