{{> public/header}}
	<style type="text/css">
	#preview_size_fake{
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);visibility:hidden;}</style>

    <div class="left-container">
    	{{> public/personal_left}}
	</div>

<div class="mid-container" style="width: 783px;">

<div class="personal-div-container" style="background: #f4f4f4;">
	<span class="personal-title">
	<span class="icon system-icons"></span>
	&nbsp;&nbsp;&nbsp;&nbsp;个人基本信息</span>
	<form method="post" action="/secret/personalUpdate" target="personal_update_iframe" id="personal_update_form">
		<table class="personal-table" cellpadding="0" cellspacing="0">
			<tr>
				<td class="lable">用户名&nbsp;&nbsp;</td>
				<td><input type="text" readonly="readonly" name="useranem" value="{{username}}"/></td>
				<td class="lable">性别&nbsp;&nbsp;</td>
				<td>
				<span style="display:block;width:50px;height:50px;float:left;">
				<input type="radio" name="sex" style="float:left;width:20px;height:20px;"{{# men}} checked="checked"{{/ men}} value=1 />男</span>
				<span style="display:block;width:50px;height:50px;float:left;">
				<input type="radio" name="sex" {{^ men}} checked="checked"{{/ men}} style="float:left;width:20px;height:20px;" value=0 />女</span>
				</td>
			</tr>
			<tr>
				<td class="lable">旧密码&nbsp;&nbsp;</td>
				<td><input type="password" name="oldPassword"/></td>
				<td class="lable">新密码&nbsp;&nbsp;</td>
				<td><input type="password" name="password"/></td>
			</tr>
			<tr>
				<td class="lable">年龄：</td>
				<td>
					<select name="age" id="registry-age" style="width:250px;">
						<option value="">选择年龄</option>
						<option value="10~15">10~15</option>
						<option value="16~20">16~20</option>
						<option value="21~25">21~25</option>
						<option value="26~30">26~30</option>
						<option value="31~35">31~35</option>
						<option value="36~40">36~40</option>
						<option value="41~45">41~45</option>
						<option value="46~50">46~50</option>
						<option value="51~55">51~55</option>
						<option value="56~60">56~60</option>
					</select>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				
				<td class="lable">城市&nbsp;&nbsp;</td>
				<td><input type="text" value="{{cityname}}" name="cityname" maxlength="4"/></td>
				<td class="lable">个性签名&nbsp;&nbsp;</td>
				<td><input type="text" maxlength="45" name="mark" value="{{mark}}" maxlength="30"/></td>
			</tr>
		</table>
		<input type="button" class="post-button" id="personal-msg-post-button" value="提交"/>
	</form>
	<iframe id="personal_update_iframe" name="personal_update_iframe" style="display:none;"></iframe>
</div>
</div>

<div class="right-container">
    {{> public/sendSecret}}
    {{> public/friends}}
    {{> public/survey}}
    {{> public/hotSecret}}
</div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}


</body>
  {{> public/personal_js}}

	<script>
		$('#registry-age').val('{{age}}');
	</script>
</html>

