{{> public/header}}
	<style type="text/css">
	#preview_size_fake{
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);visibility:hidden;}</style>

    <div class="left-container">
    <form class="form-signin" role="form" method="post" enctype='multipart/form-data'>
	    <h4 class="form-signin-heading">&nbsp;&nbsp;&nbsp;上传头像</h4>
	    <div id="preview_fake">
	    	<img src="../../images/logo_demo.png" style="max-width:100%;" id="preview"/>
	    </div>
	    
	    <input id="fulAvatar" name="fulAvatar" type="file" class="form-control" onchange="onUploadImgChange(this)" />	 
	    <br/>
	    <button id="btnSub" class="btn btn-lg btn-primary" style="width:100%;" type="submit">上 传</button>
	</form>

	<img id="preview_size_fake" />
	<span id="swh"></span>

	<span class="item-container">
		<a class="personal-item-choosen">个人信息</a>
		<a class="personal-item">我的秘密</a>
		<a class="personal-item">积分充值</a>
		<a class="personal-item">我的好友</a>
		<a class="personal-item">我的消息</a>
	</span>
	
	</div>

<div class="mid-container">

<div class="personal-div-container" style="display:none;">
	<span class="personal-title">
	<span class="icon system-icons"></span>
	&nbsp;&nbsp;&nbsp;&nbsp;个人基本信息</span>
	<table class="personal-table" cellpadding="0" cellspacing="0">
		<tr>
			<td class="lable">用户名&nbsp;&nbsp;</td>
			<td><input type="text" readonly="readonly"/></td>
			<td class="lable">性别&nbsp;&nbsp;</td>
			<td><input type="text"/>	</td>
		</tr>
		<tr>
			<td class="lable">电子邮箱&nbsp;&nbsp;</td>
			<td><input type="text"/></td>
			<td class="lable">QQ&nbsp;&nbsp;</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td class="lable">手机号&nbsp;&nbsp;</td>
			<td><input type="text"/></td>
			<td class="lable">所属城市&nbsp;&nbsp;</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td class="lable">地址&nbsp;&nbsp;</td>
			<td><input type="text"/></td>
			<td class="lable">出生日期&nbsp;&nbsp;</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td class="lable">个性签名&nbsp;&nbsp;</td>
			<td colspan="3"><input type="text" class="mark"/></td>
		</tr>
		<tr>
			<td colspan="4">
				<button class="post-button">提交</button>
			</td>
		</tr>
	</table>
</div>


<div class="personal-my-secret personal-div-container" style="display:none;">

{{> public/secret}}
{{> public/secret}}
{{> public/secret}}
{{> public/secret}}
{{> public/secret}}
{{> public/secret}}
</div>



<div class="personal-get-score personal-div-container" style="display:none;">
	<span class="personal-title">
		<span class="icon system-icons"></span>
		&nbsp;&nbsp;&nbsp;&nbsp;我的积分
	</span>

</div>

<div class="personal-myfriend personal-div-container">
	<span class="personal-title" style="margin-bottom:30px;">
		<span class="icon system-icons"></span>
		&nbsp;&nbsp;&nbsp;&nbsp;好友列表

	</span>
	<span class="frinend-item">
		<div class="container-area">
			<img class="logo" src="../../images/logo_demo.png"/>
			<span class="username">
				william wang
			</span>
			<span class="money">130</span>
			<span class="sex">男</span>
			<span class="city">南京</span>
			<span class="mark-friend">
				一个人只可能有一种命运
			</span>
		</div>
		<span class="button-area">
			<a class="btn btn-primary" href="">查看秘密</a>
			<a class="btn btn-warning" href="">查看好友</a>
		</span>
		
	</span>
	<span class="frinend-item">
		<div class="container-area">
			<img class="logo" src="../../images/logo_demo.png"/>
			<span class="username">
				william wang
			</span>
			<span class="money">130</span>
			<span class="sex">男</span>
			<span class="city">南京</span>
			<span class="mark-friend">
				一个人只可能有一种命运
			</span>
		</div>
		<span class="button-area">
			<a class="btn btn-primary" href="">查看秘密</a>
			<a class="btn btn-warning" href="">查看好友</a>
		</span>
		
	</span>

	<span class="frinend-item">
		<div class="container-area">
			<img class="logo" src="../../images/logo_demo.png"/>
			<span class="username">
				william wang
			</span>
			<span class="money">130</span>
			<span class="sex">男</span>
			<span class="city">南京</span>
			<span class="mark-friend">
				一个人只可能有一种命运
			</span>
		</div>
		<span class="button-area">
			<a class="btn btn-primary" href="">查看秘密</a>
			<a class="btn btn-warning" href="">查看好友</a>
		</span>
		
	</span>

	<span class="frinend-item">
		<div class="container-area">
			<img class="logo" src="../../images/logo_demo.png"/>
			<span class="username">
				william wang
			</span>
			<span class="money">130</span>
			<span class="sex">男</span>
			<span class="city">南京</span>
			<span class="mark-friend">
				一个人只可能有一种命运
			</span>
		</div>
		<span class="button-area">
			<a class="btn btn-primary" href="">查看秘密</a>
			<a class="btn btn-warning" href="">查看好友</a>
		</span>
		
	</span>

	<span class="frinend-item">
		<div class="container-area">
			<img class="logo" src="../../images/logo_demo.png"/>
			<span class="username">
				william wang
			</span>
			<span class="money">130</span>
			<span class="sex">男</span>
			<span class="city">南京</span>
			<span class="mark-friend">
				一个人只可能有一种命运
			</span>
		</div>
		<span class="button-area">
			<a class="btn btn-primary" href="">查看秘密</a>
			<a class="btn btn-warning" href="">查看好友</a>
		</span>
		
	</span>

	<span class="frinend-item">
		<div class="container-area">
			<img class="logo" src="../../images/logo_demo.png"/>
			<span class="username">
				william wang
			</span>
			<span class="money">130</span>
			<span class="sex">男</span>
			<span class="city">南京</span>
			<span class="mark-friend">
				一个人只可能有一种命运
			</span>
		</div>
		<span class="button-area">
			<a class="btn btn-primary" href="">查看秘密</a>
			<a class="btn btn-warning" href="">查看好友</a>
		</span>
		
	</span>

</div>

<div class="personal-mymsg personal-div-container" style="display:none;">
	<span class="personal-title">
		<span class="icon system-icons"></span>
		&nbsp;&nbsp;&nbsp;&nbsp;个人消息
	</span>
	<span class="msg-item">
		<span class="msg-type-unread">&nbsp;&nbsp;好友请求
		<span class="new">未读消息</span>
		</span>


		<div class="container-area">
			asdfasdfasdfasdfasdf
		</div>


		<span class="button-area">
			<button class="button readed">已读</button>
			<button class="button del">删除</button>
		</span>
	</span>



	<span class="msg-item">
		<span class="msg-type">&nbsp;&nbsp;系统通知</span>
		<div class="container-area">
			asdfasdfasdfasdfasdf
		</div>


		<span class="button-area">
			<button class="button readed">已读</button>
			<button class="button del">删除</button>
		</span>
	</span>

</div>














</div>
    <div class="right-container">
        {{> public/sendSecret}}
        {{> public/friends}}
        {{> public/survey}}
        {{> public/hotSecret}}
    </div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}


  </body>
  {{> public/footer}}
  <script type="text/javascript">

		function onUploadImgChange(sender){
	         if( !sender.value.match( /.jpg|.gif|.png|.bmp/i ) ){
	             alert('图片格式无效！');
	             return false;
	         }
	         var objPreview = document.getElementById('preview');
	         var objPreviewFake = document.getElementById('preview_fake');
	         var objPreviewSizeFake = document.getElementById('preview_size_fake');
	        
	//ff/chrome
	         if( sender.files && sender.files[0] ){
	             objPreview.style.display = 'block';
	             objPreview.style.width = 'auto';
	             objPreview.style.height = 'auto';
	             objPreview.src = window.URL.createObjectURL(sender.files[0]);
	         }else if( objPreviewFake.filters){
	           //ie
	          sender.select();
	          sender.blur();//安全性问题考虑（拒绝访问的情形）
	          var imgSrc = document.selection.createRange().text;
	          document.selection.empty();
	            objPreviewFake.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgSrc + "',sizingMethod = scale;)";
	            objPreviewSizeFake.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgSrc + "',sizingMethod = scale;)";
	            autoSizePreview(objPreviewFake,179,219);
	            objPreview.style.display = 'none';
	         }	
       }
       function onPreviewLoad(sender){
           autoSizePreview( sender, sender.offsetWidth, sender.offsetHeight );
       }

		function autoSizePreview( objPre, originalWidth, originalHeight ){
           var zoomParam = clacImgZoomParam( 179, 219, originalWidth,originalHeight );
           objPre.style.width = zoomParam.width + 'px';
           objPre.style.height = zoomParam.height + 'px';
           objPre.style.marginTop = zoomParam.top + 'px';
           objPre.style.marginLeft = zoomParam.left + 'px';
       }
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
	         var param = { width:width, height:height, top:0, left:0 };
	        if( width>maxWidth || height>maxHeight ){
	        rateWidth = width / maxWidth;
	        rateHeight = height / maxHeight;
	        if( rateWidth > rateHeight ){
	              param.width = maxWidth;
	               param.height = height / rateWidth;
	           }else{
	               param.width = width / rateHeight;
	                param.height = maxHeight;
	             }
	         }
	           param.left = (maxWidth - param.width) / 2;
	           param.top = (maxHeight - param.height) / 2;
           return param;
       }

        $('.form_date').datetimepicker({
          language:  'zh-CN',
          format: 'yyyy-mm-dd',
              weekStart: 1,
              todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          minView: 2,
          forceParse: 0
          });
  </script>
</html>

