{{> public/header}}


    <div class="left-container">
        {{> public/innerRightAdv}}
    </div>


<div class="mid-container">


<nav id="navbar-example" class="navbar navbar-default navbar-static">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">发布一个秘密</a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
          <ul class="nav navbar-nav" style="height:50px;line-height:50px;">
            <li class="dropdown">
              <a id="drop1" href="#" id="secretMainType_default" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="height:50px;line-height:30px;">
                选择模块
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#" id="mine_secret" class=" select-subitem" name="secretMainType">WO的秘密</a></li>
                <li><a href="#" id="ta_secret"  class=" select-subitem" name="secretMainType">TA的秘密</a></li>
                <li><a href="#" id="sell_secret"  class=" select-subitem" name="secretMainType">出售秘密</a></li>
                <li><a href="#" id="order_secret"  class=" select-subitem" name="secretMainType">悬赏秘密</a></li>
                <!--<li><a href="#" id="floater_secret">漂流瓶</a></li>-->
              </ul>
            </li>
          </ul>
          <div class="choosen-secret-type">当前选择：<span style="color:#f00;" id="current_choosen_type">WO的秘密</span></div>
        </div><!-- /.nav-collapse -->
    </nav>

    <div class="secret-send-container" id="secret-container">
      {{> sendSecret/mysecretbody}}
    </div>

<script id="mysecretbody_script" type="text/myself">
  {{> sendSecret/mysecretbody}}
</script>

<script id="tasecretbody_per_script" type="text/myself">
  {{> sendSecret/tasecretbody_per}}
</script>

<script id="tasecretbody_bus_script" type="text/myself">
  {{> sendSecret/tasecretbody_bus}}
</script>

<script id="sellsecretbody_script" type="text/myself">
  {{> sendSecret/sellsecretbody}}
</script>

<script id="sellsecretbody_buy_script" type="text/myself">
  {{> sendSecret/sellsecretbody_buy}}
</script>

<script id="offersecretbody_script" type="text/myself">
  {{> sendSecret/offersecretbody}}
</script>


<script id="offersecretbody_buy_script" type="text/myself">
  {{> sendSecret/offersecretbody_buy}}
</script>











</div>
    <div class="right-container">
    {{# hasLogin}}
        {{> public/sendSecret}}
    {{/ hasLogin}} 
        {{> public/notice}}
        {{> public/survey}}
        {{> public/hotSecret}}
    </div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}


  </body>
  {{> public/footer}}
  <script type="text/javascript" src="../../js/sendSecret.js"></script>
  <script type="text/javascript">
        
  </script>

    <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();

  </script>
</html>