{{> public/header}}


    <div class="left-container">
        {{> public/rightAdv}}
        {{> public/rightAdv}}
        {{> public/rightAdv}}
    </div>


<div class="mid-container">

{{> sendSecret/floatersecretbody}}


</div>
    <div class="right-container">
        {{> public/sendSecret}}
        {{> public/notice}}
        {{> public/survey}}
        {{> public/hotSecret}}
    </div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}


  </body>
  {{> public/footer}}
  <script type="text/javascript">
        $('.form_date').datetimepicker({
          language:  'zh-CN',
          format: 'yyyy-mm-dd',
              weekStart: 1,
              todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          minView: 2,
          forceParse: 0
          });
  </script>
</html>