{{> public/header}}


    <div class="left-container">
        {{> public/rightAdv}}
    </div>


<div class="mid-container">

{{> sendSecret/floatersecretbody}}


</div>
    <div class="right-container">
        {{> public/sendSecret}}
        {{> public/notice}}
        {{> public/survey}}
        {{> public/hotSecret}}
    </div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}

  </body>
  {{> public/footer}}
  <script type="text/javascript" src="../../js/floater.js"></script>
  <script type="text/javascript">
  	$('[data-toggle="tooltip"]').tooltip();
  </script>
</html>