{{> public/header}}


    <div class="left-container">
        {{> public/rightAdv}}
        {{> public/rightAdv}}
        {{> public/rightAdv}}
    </div>


<div class="mid-container">


<nav id="navbar-example" class="navbar navbar-default navbar-static">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">发布一个秘密</a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择模块
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#" id="mine_secret">WO的秘密</a></li>
                <li><a href="#" id="ta_secret">TA的秘密</a></li>
                <li><a href="#" id="sell_secret">出售秘密</a></li>
                <li><a href="#" id="order_secret">悬赏秘密</a></li>
                <!--<li><a href="#" id="floater_secret">漂流瓶</a></li>-->
              </ul>
            </li>
          </ul>
          <div class="choosen-secret-type">当前选择：<span style="color:#f00;" id="current_choosen_type">我的秘密</span></div>
          <ul class="nav navbar-nav navbar-right">
            <li id="fat-menu" class="dropdown">
              <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Dropdown
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop3">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
    </nav>

    <div class="secret-send-container" id="secret-container">
      {{> sendSecret/mysecretbody}}
      {{> sendSecret/tasecretbody_per}}
      {{> sendSecret/tasecretbody_bus}}
      {{> sendSecret/sellsecretbody}}
      {{> sendSecret/sellsecretbody_buy}}
      {{> sendSecret/offersecretbody}}
      {{> sendSecret/offersecretbody_buy}}
    </div>














</div>
    <div class="right-container">
        {{> public/sendSecret}}
        {{> public/notice}}
        {{> public/survey}}
        {{> public/hotSecret}}
    </div>

{{> public/bottom}}
{{> public/login}}
{{> public/registry}}


  </body>
  {{> public/footer}}
  <script type="text/javascript" src="../../js/sendSecret.js"></script>
  <script type="text/javascript">
        $('.form_date').datetimepicker({
          language:  'zh-CN',
          format: 'yyyy-mm-dd',
              weekStart: 1,
              todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          minView: 2,
          forceParse: 0
          });
  </script>

    <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
  </script>
</html>