<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>default</title>
        <meta name="author" content="DELL" />
        <!-- Date: 2015-03-26 -->
    </head>
    <body>
    <h1>welcome to W# MVC</h1>
    <p>目前尚无页面模板，请在view中模块文件夹（如模块名叫：name，则新建文件夹：name），并在其中建立模板index.html，访问：http://localhost:3000/name/或者http://localhost:3000/name/index</p>
    </body>
</html>

