<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="YJS404错误" />
<title>YJS404错误</title>
<link href="http://localhost:3000/css/YJS.error.css" rel="stylesheet" type="text/css" />
</head>
<body class="notfound">
<!-- 代码 开始 -->
<div class="wrapper">
    <div class="big">页面不见了！</div>
    <div>当前action路由无对应页面</div>
<div>
<!-- 代码 结束 -->
 
</body>
</html>