<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="../../../css/bootstrap.min.css">
		
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">

		<link href="../../../css/home/home.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="header-container">
			<div class="header"></div>
		</div>
		<div class="body-container">
			<div class="left-container">asdfasdf</div>
			<div class="mid-container">asdfasdf</div>
			<div class="right-container">asdf</div>
			
		</div>
	</body>
	<!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../../js/bootstrap.min.js"></script>
</html>


