<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="../../../css/bootstrap.min.css">
		
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">

		<link href="../../../css/home/home.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="body-container">
			<div class="header-container">

			<div class="top-header-container">
				<div class="top-header">
					<span class="left-area registry-area">注册</span>
					<span class="left-area login-area">登录</span>
					<span class="logo-area">logo</span>
					<span class="search-area">seach area</span>
				</div>
			</div>
				

			<div class="bottom-header-container">
				<div class=" header bottom-header">
					<span class="menu-item icons">最新</span>
					<span class="menu-item">WO的秘密</span>
					<span class="menu-item">TA的秘密</span>
					<span class="menu-item">出售秘密</span>
					<span class="menu-item">秘密悬赏</span>
					<span class="menu-item">漂流瓶</span>
					<span class="menu-item">长文</span>
					<span class="menu-item">定制</span>
				</div>
			</div>
			</div>
			<div class="main-container">
				<div class="left-container">asdfasdf</div>


				<div class="mid-container">
					<div class="secret-area">
						<div class="secret-header">
							<span class ="black-icon"></span>
							<span class="text">秘密哦</span>
						</div>
						<div class="secret-body">
							<div class="secret-body-container">

								<div class="title-container">
									<span class="title">这是标题</span>
									<span class="score">scrole</span>
								</div>
								<span class="items photo">
									<img src='../../images/logo_demo.png'/>
								</span>
								<span class="items name">王威</span>
								<span class="items address">江苏</span>
								<span class="items sex">男</span>
								<span class="items age">30</span>
								<span class="items system-icons money ">60</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="items system-icons lable">哈哈</span>
								<span class="text-container">
									asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								asdfasdfasdfasdf<br/>
								</span>
								<div class="comment-area">
									<div class="top-comment"></div>
									<div class="bottom-comment"></div>
								</div>
								
							</div>
						</div>

						<div class="comment-area">
							
						</div>
					</div>
				</div>


				<div class="right-container">asdf</div>
			</div>
			
			
		</div>
		<div class="bottom-container">
			<div class="bottom">
				<span class="menu-item">关于蟋蟀</span>
				<span class="menu-item">广告服务</span>
				<span class="menu-item">隐私权</span>
				<span class="menu-item">联系我们</span>
				<span class="menu-item">站长邮箱</span>
			</div>
		</div>
	</body>
	<script src="../../../js/jquery.min.js"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../../bootstrap/js/bootstrap.min.js"></script>
</html>


