<div style="margin:30px;">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" class="my-bottom floater-icons" aria-controls="home" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#profile" class="get-bottom floater-icons" aria-controls="profile" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#messages" class="threw-bottom floater-icons" aria-controls="messages" role="tab" data-toggle="tab"></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	
    	
	    <!--<table border="0" cellspacing="0" cellpadding="0" width="100%">
	        <tr>
	          <td colspan="6" style="height:30px;line-height:30px;text-align:center;font-size:18px;text-align:left;color:#333;">
	            目的地
	          </td>
	        </tr>
	        <tr>
	          <td class="lable">所属城市&nbsp;&nbsp;&nbsp;</td>
	          <td><span class="city-name"></span></td>
	          <td class="lable">
	            	年龄&nbsp;&nbsp;&nbsp;
	          </td>
	          <td>
	            <span class="age-container"></span>
	          </td>
	          <td class="lable">
	          	性别&nbsp;&nbsp;&nbsp;
	          </td>
	          <td>
	            <span class="user-sex-icon man" title="男生" data-toggle="tooltip" data-placement="bottom" name="sex_get" id="sex_get_man"></span>
	            <span class="user-sex-icon woman" title="女生" data-toggle="tooltip" data-placement="bottom" name="sex_get" id="sex_get_woman"></span>
	          </td>
	          <td class="lable">标签&nbsp;&nbsp;&nbsp;</td>
	          <td>
	            <span class="user-lable system-icons">我的标签哦</span>
	          </td>
	        </tr>
	        <tr>
	          <td colspan="8">
	            <textarea name="" id="" cols="30" rows="3" maxlength="140" readonly="readonly"></textarea>
	          </td>
	        </tr>
	        <tr>
	         <td colspan="8">
	            <button class="floater-replay-button">回应</button>
	          </td>
	        </tr>
	      </table>-->
        {{> public/floater}}
      
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	<span class="salvage-area">您暂时没有瓶子，捞捞看吧</span>
    	<span class="salvage-button floater-icons">
    	</span>
      <div id="floaters_list">
      </div>
      <script type="text/x-handlebars-template" id="floaters_try">
        {{> public/get_floaters}}
      </script>
      
    	
    </div>
    <div role="tabpanel" class="tab-pane" id="messages" style="padding-bottom:80px;">
    <form id="floater_form" action="/secret/saveFloater" method="post">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td colspan="6" style="height:30px;line-height:30px;text-align:center;font-size:18px;text-align:left;color:#333;">
            目的地
          </td>
        </tr>
        <tr>
          <td class="lable">城市&nbsp;&nbsp;&nbsp;</td>
          <td><input type="text"  style="border:1px solid #ccc;" name="secretCity" maxlength="5" id="secret_city_text"></td>
          <td class="lable">
            年龄&nbsp;&nbsp;&nbsp;
          </td>
          <td colspan="3">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="secret_otherage_text" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择年龄
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a  class="select-subitem" name="otherage">选择年龄</a></li>
                  <li><a  class="select-subitem" name="otherage">10~15</a></li>
                  <li><a  class="select-subitem" name="otherage">16~20</a></li>
                  <li><a  class="select-subitem" name="otherage">21~25</a></li>
                  <li><a  class="select-subitem" name="otherage">26~30</a></li>
                  <li><a  class="select-subitem" name="otherage">31~35</a></li>
                  <li><a  class="select-subitem" name="otherage">36~40</a></li>
                  <li><a  class="select-subitem" name="otherage">41~45</a></li>
                  <li><a  class="select-subitem" name="otherage">46~50</a></li>
                  <li><a  class="select-subitem" name="otherage">51~55</a></li>
                  <li><a  class="select-subitem" name="otherage">56~60</a></li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="lable">性别&nbsp;&nbsp;&nbsp;

          </td>
          <td>
            <span class="user-sex-icon man" title="男生" data-toggle="tooltip" data-placement="bottom" name="sex_dist" id="sex_get_man" value="1" target="othersex_hidden"></span>
            <span class="user-sex-icon woman" title="女生" data-toggle="tooltip" data-placement="bottom" name="sex_dist" id="sex_get_woman" value="2" target="othersex_hidden"></span>
          </td>
          <td class="lable">标签&nbsp;&nbsp;&nbsp;</td>
          <td colspan="5">
            <!--<span class="user-lable system-icons">我的标签哦</span>-->
            <input id="secretKeyWord_text" type="text" style="border:1px solid #ccc;" name="secretKeyWord"/>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <textarea id="secrect-content" name="secretContent" cols="30" rows="3" maxlength="140"></textarea>
            <input type="button" id="floater_submit_button" style="display:none;"/>
          </td>
        </tr>
      </table>
      <input type="hidden" name="redirectUrl" value="/secret/floater" />
      {{> sendSecret/hidden}}
      <input type="hidden" value="2" name="islongstory"/>
      <input type="hidden" value="2" name="secretDate" id="secretDate_shidden"/>
      </form>
      <button class="floater-button floater-icons" id="floater_post_button"></button>
    </div>
  </div>

</div>