<div style="margin:30px;">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">我的漂流瓶</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">捞瓶子</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">扔一个</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">我的漂流瓶</div>
    <div role="tabpanel" class="tab-pane" id="profile">捞瓶子</div>
    <div role="tabpanel" class="tab-pane" id="messages">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td colspan="6" style="height:30px;line-height:30px;text-align:center;font-size:18px;text-align:left;color:#333;">
            TA的信息
          </td>
        </tr>
        <tr>
          <td class="lable">所属城市&nbsp;&nbsp;&nbsp;</td>
          <td><input type="text" readonly="readonly"></td>
          <td class="lable">
            年龄&nbsp;&nbsp;&nbsp;
          </td>
          <td colspan="3">
            <input type="text" readonly="readonly">
          </td>
        </tr>
        <tr>
          <td class="lable">性别&nbsp;&nbsp;&nbsp;

          </td>
          <td>
            <span class="user-sex-icon man" title="男生"></span>
            <span class="user-sex-icon woman" title="女生"></span>
          </td>
          <td class="lable">标签&nbsp;&nbsp;&nbsp;</td>
          <td colspan="5">
            <span class="user-lable system-icons">我的标签哦</span>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <textarea name="" id="" cols="30" rows="3"></textarea>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>