<!--秘密类型-->
<input type="hidden" name="secretType" id="secretType"/>
<!--子类型-->
<input type="hidden" name="secretSubType" id="secretSubType"/>
<!--孙子类型-->
<input type="hidden" name="secretGrandSubType" id="secretGrandSubType"/>
<!--选择限制-->
<input type="hidden" name="secretLimit" id="secretLimit"/>
<!--选择期望-->
<input type="hidden" name="secretHope" id="secretHope"/>
<!--所在城市-->
<input type="hidden" name="secretCity" id="secretCity"/>
<!--发布日期-->
<input type="hidden" name="secretDate" id="secretDate"/>
<!--秘密关键字-->
<input type="hidden" name="secretKeyWord" id="secretKeyWord"/>
<!--秘密标题-->
<input type="hidden" name="secretTitle" id="secretTitle"/>
<!--秘密背景-->
<input type="hidden" name="secretBackground" id="secretBackground"/>
<!--秘密正文-->
<input type="hidden" name="secretContent" id="secretContent"/>
<!--感悟-->
<input type="hidden" name="secretKnown" id="secretKnown"/>
<!--TA的名字-->
<input type="hidden" name="othername" id="othername"/>
<!--TA的性别-->
<input type="hidden" name="othersex" id="othersex"/>
<!--TA的年龄-->
<input type="hidden" name="otherage" id="otherage"/>
<!--大楼名字-->
<input type="hidden" name="otherBuildName" id="otherBuildName"/>
<!--街道-->
<input type="hidden" name="otheraddress" id="otheraddress"/>
<!--秘密人品-->
<input type="hidden" name="secretPrice" id="secretPrice"/>