<table border="0" cellspacing="0" cellpadding="0" width="100%" id="mysecret-container-body" style="display:none;">
        <tr>
          <td class="lable">选择类型&nbsp;&nbsp;</td>
          <td>
          
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#">WO的秘密</a></li>
                <li><a href="#">TA的秘密</a></li>
                <li><a href="#">出售秘密</a></li>
                <li><a href="#">悬赏秘密</a></li>
                <li><a href="#">漂流瓶</a></li>
                <li><a href="#">长文</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型&nbsp;&nbsp;</td>
          <td>
            

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择子类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#">WO的秘密</a></li>
                <li><a href="#">TA的秘密</a></li>
                <li><a href="#">出售秘密</a></li>
                <li><a href="#">悬赏秘密</a></li>
                <li><a href="#">漂流瓶</a></li>
                <li><a href="#">长文</a></li>
              </ul>
            </li>
          </ul>


          </td>
          <td class="lable">选择限制&nbsp;&nbsp;</td>
          <td>
            

              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    选择子限制
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="drop1">
                    <li><a href="#">WO的秘密</a></li>
                    <li><a href="#">TA的秘密</a></li>
                    <li><a href="#">出售秘密</a></li>
                    <li><a href="#">悬赏秘密</a></li>
                    <li><a href="#">漂流瓶</a></li>
                    <li><a href="#">长文</a></li>
                  </ul>
                </li>
              </ul>


          </td>
        </tr>

        <tr>
          <td class="lable">选择期望&nbsp;&nbsp;</td>
          <td>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择期望
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a href="#">WO的秘密</a></li>
                  <li><a href="#">TA的秘密</a></li>
                  <li><a href="#">出售秘密</a></li>
                  <li><a href="#">悬赏秘密</a></li>
                  <li><a href="#">漂流瓶</a></li>
                  <li><a href="#">长文</a></li>
                </ul>
              </li>
            </ul>
          </td>
          <td class="lable">选择城市&nbsp;&nbsp;</td>
          <td colspan="3">
            
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择期望
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a href="#">WO的秘密</a></li>
                  <li><a href="#">TA的秘密</a></li>
                  <li><a href="#">出售秘密</a></li>
                  <li><a href="#">悬赏秘密</a></li>
                  <li><a href="#">漂流瓶</a></li>
                  <li><a href="#">长文</a></li>
                </ul>
              </li>
            </ul>

          </td>

        </tr>
        <tr>
          <td class="lable">选择时间&nbsp;&nbsp;</td>
          <td colspan="5">
            <div class="form-group">
                      <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                          <input class="form-control" size="16" type="text" value="" readonly>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span></span>
                      </div>
              <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="lable">关键词&nbsp;&nbsp;</td>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td class="lable">标题&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text"  placeholder="请输入标题"/>
          </td>
        </tr>
        <tr>
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-text" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
      </table>