<form action="/secret/saveSecret" method="post">
  

<table border="0" cellspacing="0" cellpadding="0" width="100%" id="mysecret-container-body">
        <tr>
          <td class="lable">选择类型&nbsp;&nbsp;</td>
          <td>
          
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="secrettype_one" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a class="select-subitem mine-type-choose"  target="woai" name="secretType">我爱</a></li>
                <li><a  class="select-subitem mine-type-choose" target="wohen" name="secretType">我恨</a></li>
                <li><a  class="select-subitem mine-type-choose" target="woxiang" name="secretType">我想</a></li>
                <li><a class="select-subitem mine-type-choose" target="wozuoguo" name="secretType">我做过</a></li>
                <li><a class="select-subitem mine-type-choose" target="woxihuanzuo" name="secretType">我喜欢做</a></li>
                <li><a class="select-subitem mine-type-choose" target="wozuijin" name="secretType">我最近</a></li>
                <li><a class="select-subitem mine-type-choose" target="guaipi" name="secretType">怪癖</a></li>
                <li><a class="select-subitem mine-type-choose" target="typeqita" name="secretType">其他</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型&nbsp;&nbsp;</td>
          <td>
            

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="secret_select_subtype_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择子类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1" id="mine-sub-select-ul">

              </ul>
            </li>
          </ul>


          </td>
          <td class="lable">选择限制&nbsp;&nbsp;</td>
          <td>
            

              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a id="secret_select_limit_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    选择限制
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="drop1">
                    <li><a class="secret-limit-choose" type="1" name="secretLimit">公开</a></li>
                    <li><a class="secret-limit-choose" type="2" name="secretLimit">回复可见</a></li>
                    <li><a class="secret-limit-choose" type="3" name="secretLimit">好友可见</a></li>
                    <li><a class="secret-limit-choose" type="4" name="secretLimit">自己可见</a></li>
                  </ul>
                </li>
              </ul>
          </td>
        </tr>

        <tr>
          <td class="lable">选择期望&nbsp;&nbsp;</td>
          <td colspan="5">
            <ul class="nav navbar-nav">
              <li class="secret_select_hope_dropdown">
                <a id="secret_select_hope_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择期望
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a  class="select-subitem secret-hop" name="secretHope">求祝福</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求指点</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求骂醒</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求治疗</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求助</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求安慰</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求鼓励</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求开导</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求约</a></li>
                  <li><a  class="select-subitem secret-hop" name="secretHope">求赞</a></li>
                </ul>
              </li>
            </ul>
          </td>

        </tr>
        <tr>
          <td class="lable">相关时间&nbsp;&nbsp;</td>
          <td colspan="3" style="height:50px;">
            <div class="form-group">
                      <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                          <input class="form-control" id="secret_date_text"  size="16" type="text" value="" readonly name="secretDate">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span></span>
                      </div>
              <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
          </td>
          <td class="lable">城市&nbsp;&nbsp;</td>
          <td style="height:50px;">
            <input style="width: 65%;" type="text" name="secretCity" id="secret_city_text" maxlength="4"/>
          </td>
        </tr>
        <tr>
          <td class="lable">关键词&nbsp;&nbsp;</td>
          <td colspan="5" style="height:50px;">
            <input type="text"  name="secretKeyWord" id="secretKeyWord_text" maxlength="4"  placeholder="关键词"/>
          </td>
        </tr>
        <tr>
          <td class="lable" style="height:50px;">标题&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text" name="secretTitle" id="secretTitle_text"  placeholder="请输入标题"/>
          </td>
        </tr>
        <tr id="secret_background_tr">
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretBackground" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_content_tr">
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretContent" id="secrect-content" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_known_tr">
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretKnown" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_longstory_tr" style="display:none;">
          <td class="lable" valign="top">长文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="longstory" maxlength="500" id="secrect-longstory" cols="30" height="600" rows="20"></textarea>
          </td>
        </tr>
      </table>
            <input type="submit" id="mine_secret_submit_button" style="display:none;"/>
      {{> sendSecret/hidden}}
      <input type="hidden" name="islongstory" id="is_longstory_hidden" value="0">
</form>
   <button class="btn btn-primary" id="my_secret_post_button" style="display:block;margin:0 auto;">提交</button>