<form action="/secret/saveSecret" method="post">
  

<table border="0" cellspacing="0" cellpadding="0" width="100%" id="mysecret-container-body" style="display:none;">
        <tr>
          <td class="lable">选择类型&nbsp;&nbsp;</td>
          <td>
          
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a class="select-subitem mine-type-choose" target="woai">我爱</a></li>
                <li><a  class="select-subitem mine-type-choose" target="wohen">我恨</a></li>
                <li><a  class="select-subitem mine-type-choose" target="woxiang">我想</a></li>
                <li><a class="select-subitem mine-type-choose" target="wozuoguo">我做过</a></li>
                <li><a class="select-subitem mine-type-choose" target="woxihuanzuo">我喜欢做</a></li>
                <li><a class="select-subitem mine-type-choose" target="wozuijin">我最近</a></li>
                <li><a class="select-subitem mine-type-choose" target="guaipi">怪癖</a></li>
                <li><a class="select-subitem mine-type-choose" target="typeqita">其他</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型&nbsp;&nbsp;</td>
          <td>
            

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择子类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1" id="mine-sub-select-ul">

              </ul>
            </li>
          </ul>


          </td>
          <td class="lable">选择限制&nbsp;&nbsp;</td>
          <td>
            

              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    选择限制
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="drop1">
                    <li><a class="select-subitem secret-limit-choose" type="1">公开</a></li>
                    <li><a class="select-subitem secret-limit-choose" type="2">回复可见</a></li>
                    <li><a class="select-subitem secret-limit-choose" type="3">好友可见</a></li>
                    <li><a class="select-subitem secret-limit-choose" type="4">自己可见</a></li>
                  </ul>
                </li>
              </ul>
          </td>
        </tr>

        <tr>
          <td class="lable">选择期望&nbsp;&nbsp;</td>
          <td>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择期望
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a  class="select-subitem secret-hop">求祝福</a></li>
                  <li><a  class="select-subitem secret-hop">求指点</a></li>
                  <li><a  class="select-subitem secret-hop">求骂醒</a></li>
                  <li><a  class="select-subitem secret-hop">求治疗</a></li>
                  <li><a  class="select-subitem secret-hop">求助</a></li>
                  <li><a  class="select-subitem secret-hop">求安慰</a></li>
                  <li><a  class="select-subitem secret-hop">求鼓励</a></li>
                  <li><a  class="select-subitem secret-hop">求开导</a></li>
                  <li><a  class="select-subitem secret-hop">求约</a></li>
                  <li><a  class="select-subitem secret-hop">求赞</a></li>
                </ul>
              </li>
            </ul>
          </td>
          <td class="lable">输入城市&nbsp;&nbsp;</td>
          <td colspan="3">
            <input type="text" name="secretCity"/>
          </td>

        </tr>
        <tr>
          <td class="lable">选择时间&nbsp;&nbsp;</td>
          <td colspan="5">
            <div class="form-group">
                      <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                          <input class="form-control" size="16" type="text" value="" readonly name="secretDate">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span></span>
                      </div>
              <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="lable">输入关键词&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text"  name="secretKeyWord"  placeholder="请输入关键词"/>
          </td>
        </tr>
        <tr>
          <td class="lable">标题&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text" name="secretTitle"  placeholder="请输入标题"/>
          </td>
        </tr>
        <tr>
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretBackground" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretContent" id="secrect-text" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretKnown" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <input type="submit" class="btn btn-primary" style="display:block;margin:0 auto;width:80px;height:40px;line-height:40px;padding:0;"/>
          </td>
        </tr>
      </table>
      {{> sendSecret/hidden}}
</form>