<table border="0" cellspacing="0" cellpadding="0" width="100%" id="offersecret-container-body" style="display:none;">
        <tr>
          <td class="lable">选择类型&nbsp;&nbsp;</td>
          <td>
          
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                私人秘密
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a id="offser-secret-personal-bus-li">商家秘密</a></li>
                <li><a id="offser-secret-personal-personal-li">私人秘密</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型&nbsp;&nbsp;</td>
          <td>
            

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择孙类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#">亲人</a></li>
                <li><a href="#">爱人</a></li>
                <li><a href="#">同学</a></li>
                <li><a href="#">老师</a></li>
                <li><a href="#">学生</a></li>
                <li><a href="#">上司</a></li>
                <li><a href="#">下属</a></li>
                <li><a href="#">同事</a></li>
                <li><a href="#">客户</a></li>
                <li><a href="#">邻居</a></li>
                <li><a href="#">朋友</a></li>
                <li><a href="#">名人</a></li>
                <li><a href="#">司机</a></li>
                <li><a href="#">服务商</a></li>
                <li><a href="#">其他</a></li>
              </ul>
            </li>
          </ul>


          </td>
          <td class="lable">选择孙类型&nbsp;&nbsp;</td>
          <td>
            


              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    选择孙类型
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="drop1">
                    <li><a href="#">忠贞</a></li>
                    <li><a href="#">品德</a></li>
                    <li><a href="#">怪癖</a></li>
                    <li><a href="#">能力</a></li>
                    <li><a href="#">身体</a></li>
                    <li><a href="#">婚姻</a></li>
                    <li><a href="#">隐私</a></li>
                    <li><a href="#">其他</a></li>
                  </ul>
                </li>
              </ul>


          </td>
        </tr>

        <tr>

          </td>
          <td class="lable">输入城市&nbsp;&nbsp;</td>
          <td colspan="5">
            
          <input type="text"/>

          </td>

        </tr>


        <tr>
          <td class="lable">标价&nbsp;&nbsp;</td>
          <td >
            <input type="text" style="width:50px;">&nbsp;&nbsp;&nbsp;人品
          </td>
          <td class="lable">有效期&nbsp;&nbsp;</td>
          <td colspan="3">
            <input type="text" style="width:50px;">&nbsp;&nbsp;&nbsp;个月
          </td>
        </tr>


        <tr>
          <td class="lable" style="font-size:18px;font-weight:bold;">TA的信息</td>
          <td class="" colspan="5"></td>
        </tr>
        <tr>
          <td class="lable">姓名</td>
          <td class=""><input type="text" style="margin-left:5px;"/></td>
          <td class="lable">性别</td>
          <td class="">
            
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  性别
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a href="#">男</a></li>
                  <li><a href="#">女</a></li>
                </ul>
              </li>
            </ul>

          </td>
          <td class="lable">年龄</td>
          <td class="">
            

            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  年龄
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a href="#">10~15</a></li>
                  <li><a href="#">16~20</a></li>
                  <li><a href="#">21~25</a></li>
                  <li><a href="#">26~30</a></li>
                  <li><a href="#">31~35</a></li>
                  <li><a href="#">36~40</a></li>
                  <li><a href="#">41~45</a></li>
                  <li><a href="#">46~50</a></li>
                  <li><a href="#">51~55</a></li>
                  <li><a href="#">56~60</a></li>
                </ul>
              </li>
            </ul>

          </td>
        </tr>
        <tr>
          <td class="lable">选择时间&nbsp;&nbsp;</td>
          <td colspan="5">
            <div class="form-group">
                      <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                          <input class="form-control" size="16" type="text" value="" readonly>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span></span>
                      </div>
              <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="lable">选择关键词&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text"/>
          </td>
        </tr>
        <tr>
          <td class="lable">标题&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text"  placeholder="请输入标题"/>
          </td>
        </tr>
        <tr>
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-text" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <button class="btn btn-primary" style="display:block;margin:0 auto;">提交</button>
          </td>
        </tr>
      </table>