<form method="post"  action="/secret/saveSecret">
<table border="0" cellspacing="0" cellpadding="0" width="100%" id="offersecret-container-body">
        <tr>
          <td class="lable">选择类型&nbsp;&nbsp;</td>
          <td>
          
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="secrettype_one" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                私人秘密
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a id="offser-secret-personal-bus-li">商家秘密</a></li>
                <li><a id="offser-secret-personal-personal-li">私人秘密</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型&nbsp;&nbsp;</td>
          <td>
            

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择子类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a class="select-subitem" name="secretSubType">亲人</a></li>
                <li><a class="select-subitem" name="secretSubType">爱人</a></li>
                <li><a class="select-subitem" name="secretSubType">同学</a></li>
                <li><a class="select-subitem" name="secretSubType">老师</a></li>
                <li><a class="select-subitem" name="secretSubType">学生</a></li>
                <li><a class="select-subitem" name="secretSubType">上司</a></li>
                <li><a class="select-subitem" name="secretSubType">下属</a></li>
                <li><a class="select-subitem" name="secretSubType">同事</a></li>
                <li><a class="select-subitem" name="secretSubType">客户</a></li>
                <li><a class="select-subitem" name="secretSubType">邻居</a></li>
                <li><a class="select-subitem" name="secretSubType">朋友</a></li>
                <li><a class="select-subitem" name="secretSubType">名人</a></li>
                <li><a class="select-subitem" name="secretSubType">司机</a></li>
                <li><a class="select-subitem" name="secretSubType">服务商</a></li>
                <li><a class="select-subitem" name="secretSubType">其他</a></li>
              </ul>
            </li>
          </ul>


          </td>
          <td class="lable">选择孙类型&nbsp;&nbsp;</td>
          <td>
            


              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    选择孙类型
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="drop1">
                    <li><a class="select-subitem" name="secretGrandSubType">忠贞</a></li>
                    <li><a class="select-subitem" name="secretGrandSubType">品德</a></li>
                    <li><a class="select-subitem" name="secretGrandSubType">怪癖</a></li>
                    <li><a class="select-subitem" name="secretGrandSubType">能力</a></li>
                    <li><a class="select-subitem" name="secretGrandSubType">身体</a></li>
                    <li><a class="select-subitem" name="secretGrandSubType">婚姻</a></li>
                    <li><a class="select-subitem" name="secretGrandSubType">隐私</a></li>
                    <li><a class="select-subitem" name="secretGrandSubType">其他</a></li>
                  </ul>
                </li>
              </ul>


          </td>
        </tr>


        <tr>
          <td class="lable">标价&nbsp;&nbsp;</td>
          <td>
            <input type="text" style="width:50px;" name="secretPrice" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">&nbsp;&nbsp;&nbsp;人品
          </td>
          <td class="lable">有效期&nbsp;&nbsp;</td>
          <td colspan="3">
                        <div class="form-group">
                      <div class="input-group date form_date col-md-5" style="width:80%;" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                          <input class="form-control" size="16" type="text" value="" name="secretLimitTime" readonly>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span></span>
                      </div>
              <input type="hidden" id="dtp_input2" value="" />
            </div>
          </td>
        </tr>


        <tr>
          <td class="lable" style="font-size:18px;font-weight:bold;">TA的信息</td>
          <td class="" colspan="5"></td>
        </tr>
        <tr>
          <td class="lable">姓名</td>
          <td class=""><input type="text" style="margin-left:5px;" name="othername" maxlength="4"/></td>
          <td class="lable">性别</td>
          <td class="">
            
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  性别
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a  class="select-subitem" name="othersex">男</a></li>
                  <li><a  class="select-subitem" name="othersex">女</a></li>
                </ul>
              </li>
            </ul>

          </td>
          <td class="lable">年龄</td>
          <td class="">
            

            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  年龄
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a  class="select-subitem" name="otherage">10~15</a></li>
                  <li><a  class="select-subitem" name="otherage">16~20</a></li>
                  <li><a  class="select-subitem" name="otherage">21~25</a></li>
                  <li><a  class="select-subitem" name="otherage">26~30</a></li>
                  <li><a  class="select-subitem" name="otherage">31~35</a></li>
                  <li><a  class="select-subitem" name="otherage">36~40</a></li>
                  <li><a  class="select-subitem" name="otherage">41~45</a></li>
                  <li><a  class="select-subitem" name="otherage">46~50</a></li>
                  <li><a  class="select-subitem" name="otherage">51~55</a></li>
                  <li><a  class="select-subitem" name="otherage">56~60</a></li>
                </ul>
              </li>
            </ul>

          </td>
        </tr>
        <tr>
          <td class="lable">相关时间&nbsp;&nbsp;</td>
          <td colspan="3" style="height:40px;">
            <div class="form-group">
                      <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                          <input class="form-control" size="16" type="text" name="secretDate" value="" readonly>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span></span>
                      </div>
              <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
          </td>
          <td class="lable">城市&nbsp;&nbsp;</td>
          <td style="height:40px;">
            
            <input style="width:60%;" type="text" name="secretCity" maxlength="4"/>

          </td>
        </tr>
        <tr>
          <td class="lable" style="height:40px;">关键词&nbsp;&nbsp;</td>
          <td colspan="5"><input type="text" name="secretKeyWord" maxlength="4" /></td>
        </tr>
        <tr>
          <td class="lable" style="height:40px;">标题&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text" name="secretTitle"  placeholder="请输入标题"/>
          </td>
        </tr>
        <tr id="secret_background_tr">
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretBackground" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_content_tr">
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretContent" id="secrect-content" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_known_tr">
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretKnown" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_longstory_tr" style="display:none;">
          <td class="lable" valign="top">长文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="longstory" maxlength="500" id="secrect-longstory" cols="30" height="600" rows="20"></textarea>
          </td>
        </tr>

      </table>
      <input type="submit" id="offer_secret_submit_button" style="display:none;"/>
      {{> sendSecret/hidden}}
      <input type="hidden" name="islongstory" id="is_longstory_hidden" value="0">
      </form>
       <button class="btn btn-primary" id="offer_secret_post_button" style="display:block;margin:0 auto;">提交</button>