<table border="0" cellspacing="0" cellpadding="0" width="100%" id="sellsecret-container-body" style="display:none;">
        <tr>
          <td class="lable">选择类型&nbsp;&nbsp;</td>
          <td>
          
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                私人秘密
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a id="sell-secret-bus-personal-ul">商家秘密</a></li>
                <li><a id="sell-secret-personal-personal-ul">私人秘密</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型&nbsp;&nbsp;</td>
          <td>
            

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择子类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#" class="select-subitem">本人</a></li>
              </ul>
            </li>
          </ul>


          </td>
          <td class="lable">选择孙类型&nbsp;&nbsp;</td>
          <td>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择孙类型
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a href="#" class="select-subitem">经验</a></li>
                  <li><a href="#" class="select-subitem">教训</a></li>
                  <li><a href="#" class="select-subitem">技能</a></li>
                  <li><a href="#" class="select-subitem">经历</a></li>
                  <li><a href="#" class="select-subitem">其他</a></li>
                </ul>
              </li>
            </ul>

          </td>
        </tr>
        <tr>
          <td class="lable">标价&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text" style="width:50px;">&nbsp;&nbsp;&nbsp;人品
          </td>
        </tr>
        <tr>
          <td class="lable">选择关键词&nbsp;&nbsp;</td>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td class="lable">标题&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text"  placeholder="请输入标题"/>
          </td>
        </tr>
        <tr>
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-text" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <button class="btn btn-primary" style="display:block;margin:0 auto;">提交</button>
          </td>
        </tr>
      </table>