<table border="0" cellspacing="0" cellpadding="0" width="100%" id="mysecret-container-body" style="display:none;">
        <tr>
          <td class="lable">选择类型&nbsp;&nbsp;</td>
          <td>
          
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#">WO的秘密</a></li>
                <li><a href="#">TA的秘密</a></li>
                <li><a href="#">出售秘密</a></li>
                <li><a href="#">悬赏秘密</a></li>
                <li><a href="#">漂流瓶</a></li>
                <li><a href="#">长文</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型&nbsp;&nbsp;</td>
          <td>
            

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择子类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a href="#">WO的秘密</a></li>
                <li><a href="#">TA的秘密</a></li>
                <li><a href="#">出售秘密</a></li>
                <li><a href="#">悬赏秘密</a></li>
                <li><a href="#">漂流瓶</a></li>
                <li><a href="#">长文</a></li>
              </ul>
            </li>
          </ul>


          </td>
          <td class="lable">选择孙子类型&nbsp;&nbsp;</td>
          <td>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择孙子类型
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a href="#">WO的秘密</a></li>
                  <li><a href="#">TA的秘密</a></li>
                  <li><a href="#">出售秘密</a></li>
                  <li><a href="#">悬赏秘密</a></li>
                  <li><a href="#">漂流瓶</a></li>
                  <li><a href="#">长文</a></li>
                </ul>
              </li>
            </ul>

          </td>
        </tr>
        <tr>
          <td class="lable">标价&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text" style="width:50px;">&nbsp;&nbsp;&nbsp;人品
          </td>
        </tr>
        <tr>
          <td class="lable">选择关键词&nbsp;&nbsp;</td>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td class="lable">标题&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text"  placeholder="请输入标题"/>
          </td>
        </tr>
        <tr>
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-text" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
      </table>