<div style="display:none;" id="sellsecret-container-bus-body">
<form>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td class="lable">选择类型&nbsp;&nbsp;</td>
          <td>
          
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                商家秘密
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a id="sell-secret-bus-bus-ul">商家秘密</a></li>
                <li><a id="sell-secret-personal-bus-ul">私人秘密</a></li>
              </ul>
            </li>
          </ul>



          </td>
          <td class="lable">选择子类型&nbsp;&nbsp;</td>
          <td>
            

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                选择子类型
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop1">
                <li><a class="select-subitem" name="secretSubType">餐馆</a></li>
                <li><a class="select-subitem" name="secretSubType">酒店</a></li>
                <li><a class="select-subitem" name="secretSubType">咖啡馆</a></li>
                <li><a class="select-subitem" name="secretSubType">酒庄</a></li>
                <li><a class="select-subitem" name="secretSubType">商超</a></li>
                <li><a class="select-subitem" name="secretSubType">加油站</a></li>
                <li><a class="select-subitem" name="secretSubType">汽修厂</a></li>
                <li><a class="select-subitem" name="secretSubType">医院</a></li>
                <li><a class="select-subitem" name="secretSubType">公司</a></li>
                <li><a class="select-subitem" name="secretSubType">店铺</a></li>
                <li><a class="select-subitem" name="secretSubType">其他</a></li>
              </ul>
            </li>
          </ul>


          </td>
          <td class="lable">选择孙子类型&nbsp;&nbsp;</td>
          <td>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择孙子类型
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <name>secretGrandSubType</name>
                </ul>
              </li>
            </ul>

          </td>
        </tr>

                <tr>
          <td class="lable" style="font-size:18px;font-weight:bold;">商家信息</td>
          <td class="" colspan="5"></td>
        </tr>
        <tr>
          <td class="lable">地标或大楼</td>
          <td class="" colspan="5"><input name="otherBuildName" type="text" style="margin-left:5px;"/></td>
        </tr>
        <tr>
          <td class="lable">街道</td>
          <td class="" colspan="5">
          <input type="text" name="otheraddress" style="margin-left:5px;"/>

          </td>
        </tr>
        <tr>
          <td class="lable">选择时间&nbsp;&nbsp;</td>
          <td colspan="5">
            <div class="form-group">
                      <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                          <input class="form-control" name="secretDate" size="16" type="text" value="" readonly>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span></span>
                      </div>
              <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="lable">标价&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text" name="secretPrice" style="width:50px;">&nbsp;&nbsp;&nbsp;人品
          </td>
        </tr>
        <tr>
          <td class="lable">选择关键词&nbsp;&nbsp;</td>
          <td colspan="5"><input type="text" name="secretKeyWord" maxlength="4" /></td>
        </tr>
        <tr>
          <td class="lable">标题&nbsp;&nbsp;</td>
          <td colspan="5">
            <input type="text" name="secretTitle"  placeholder="请输入标题"/>
          </td>
        </tr>
        <tr>
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretBackground" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretContent" id="secrect-text" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretKnown" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            
          </td>
        </tr>
      </table>
      <button class="btn btn-primary" style="display:block;margin:0 auto;">提交</button>
      </form>
      </div>