<div  id="tasecret-container-bus-body">
  <form action="/secret/saveSecret" method="post">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td class="lable">选择类型&nbsp;&nbsp;</td>
            <td>
            
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" id="secrettype_one" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">商家秘密<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a  id="ta-bus-bus-type" name="secretType">商家秘密</a></li>
                  <li><a  id="ta-personal-bus-type" name="secretType">私人秘密</a></li>
                </ul>
              </li>
            </ul>



            </td>
            <td class="lable">选择子类型&nbsp;&nbsp;</td>
            <td>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="secret_select_subtype_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  选择子类型
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="canguan" name='secretSubType'>餐馆</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="jiudian" name='secretSubType'>酒店</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="kafeiguan" name='secretSubType'>咖啡馆</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="jiuzhuang" name='secretSubType'>酒庄</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="shangchao" name='secretSubType'>商超</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="jiayouzhan" name='secretSubType'>加油站</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="qixiuchang" name='secretSubType'>汽修厂</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="yiyuan" name='secretSubType'>医院</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="gongsi" name='secretSubType'>公司</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="shangpu" name='secretSubType'>商铺</a></li>
                  <li><a class="select-subitem ta_bus_subtype_select_item" data-src="qita" name='secretSubType'>其他</a></li>
                </ul>
              </li>
            </ul>


            </td>
            <td class="lable">选择孙子类型&nbsp;&nbsp;</td>
            <td>
              

                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a id="secret_select_grandtype_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      选择孙子类型
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="ta-grand-sub-select-ul" aria-labelledby="drop1">
                    </ul>
                  </li>
                </ul>
            </td>
          </tr>

          <tr>
            <td class="lable">选择限制&nbsp;&nbsp;</td>
            <td colspan="5">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a id="secret_select_limit_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      选择限制
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop1">
                      <li><a class="select-subitem secret-limit-choose" name="secretLimit">公开</a></li>
                      <li><a class="select-subitem secret-limit-choose" name="secretLimit">回复可见</a></li>
                      <li><a class="select-subitem secret-limit-choose" name="secretLimit">好友可见</a></li>
                      <li><a class="select-subitem secret-limit-choose" name="secretLimit">自己可见</a></li>
                    </ul>
                  </li>
                </ul>
            </td>
            <!-- <td class="lable">TA的城市&nbsp;&nbsp;</td>
            <td colspan="3">
              <input type="text" name="secretCity" maxlength="4" id="secret_city_text" maxlength="5"/>
            </td> -->

          </tr>
          <tr>
            <td class="lable" style="font-size:18px;font-weight:bold;">商家信息</td>
            <td class="" colspan="5"></td>
          </tr>
          <tr>
            <td class="lable">城市</td>
            <td class="" colspan="5" style="height:50px;"><input type="text" name="otherBuildName" id="secret_otherBuildName_text"  maxlength="20" style="margin-left:5px;"/></td>
          </tr>
          <tr>
            <td class="lable">地址</td>
            <td class="" colspan="5" style="height:50px;">
            <input type="text" name="otheraddress" style="margin-left:5px;" id="secret_otheraddress_text"/>

            </td>
          </tr>
          <tr>
            <td class="lable">相关时间&nbsp;&nbsp;</td>
            <td colspan="5"  style="height:50px;">
              <div class="form-group">
                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input name="secretDate" id="secret_date_text" class="form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> </span></span>
                        </div>
                <input type="hidden" id="dtp_input2" value="" /><br/>
              </div>
            </td>
          </tr>
          <tr>
            <td class="lable">关键词&nbsp;&nbsp;</td>
            <td colspan="5" style="height:50px;">
              <input type="text" name="secretKeyWord" id="secretKeyWord_text"/>
            </td>
          </tr>
          <tr>
            <td class="lable" style="height:50px;">标题&nbsp;&nbsp;</td>
            <td colspan="5">
              <input type="text" name="secretTitle" id="secretTitle_text"   placeholder="请输入标题"/>
            </td>
          </tr>
          <tr id="secret_background_tr">
          <td class="lable">背景&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretBackground" id="secrect-background" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_content_tr">
          <td class="lable">正文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretContent" id="secrect-content" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_known_tr">
          <td class="lable">感悟&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="secretKnown" id="secrect-known" cols="30" rows="4"></textarea>
          </td>
        </tr>
        <tr id="secret_longstory_tr" style="display:none;">
          <td class="lable" valign="top">长文&nbsp;&nbsp;</td>
          <td colspan="5">
            <textarea name="longstory" maxlength="500" id="secrect-longstory" cols="30" height="600" rows="20"></textarea>
          </td>
        </tr>
        </table>
<input type="submit" id="bus_secret_submit_button" style="display:none;"/>
        {{> sendSecret/hidden}}
        <input type="hidden" name="islongstory" id="is_longstory_hidden" value="0">
  </form>
  <input type="submit" class="btn btn-primary" id="bus_secret_pos_button" style="display:block;margin:0 auto;width:80px;height:40px;line-height:40px;padding:0;"/>
</div>