{{# results}}
<span class="frinend-item">
    <div class="container-area">
        <img class="logo" src="/avatar/{{userPhoto}}"/>
        <span class="username">
            {{username}}
        </span>
        <span class="money">{{score}}</span>
        <span class="sex">{{sex}}</span>
        <span class="city">{{cityname}}</span>
        <span class="mark-friend">
            {{mark}}
        </span>
    </div>
    <span class="button-area">
        <a class="btn btn-primary" href="">查看秘密</a>
        <a class="btn btn-warning" href="">查看好友</a>
    </span>
    
</span>
{{/ results}}