<!DOCTYPE html>
<html lang="en">
<head>
{{> admin/header}}
</head>

<body>



<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

  <div class="leftpanel">

    <div class="logopanel">
        {{> admin/left}}
    </div><!-- logopanel -->

    <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
        </div>

      <h5 class="sidebartitle">任务导航</h5>
      <ul class="nav nav-pills nav-stacked nav-bracket">
        <!--<li><a href="/admin/index"><i class="fa fa-home"></i> <span>管理主页</span></a></li>-->
        <li><a href="/admin/adminUserManager">
        <!--<span class="pull-right badge badge-success">2</span>-->
        <i class="fa fa-laptop"></i> <span>管理员管理</span></a></li>
        <li><!-- class="nav-parent"-->
        <a href="/admin/advUserManager">
        <i class="fa fa-laptop"></i>
         <span>广告用户管理</span></a>
        </li>
        <li><a href="/admin/userManager">
        <!--<span class="pull-right badge badge-success">2</span>-->
        <i class="fa fa-laptop"></i> <span>普通用户管理</span></a></li>


        <li class="active"><a href="/admin/surveyManager">
        <!--<span class="pull-right badge badge-success">2</span>-->
        <i class="fa fa-laptop"></i> <span>调查管理</span></a></li>

        <li><a href="/admin/systemNotice">
        <!--<span class="pull-right badge badge-success">2</span>-->
        <i class="fa fa-laptop"></i> <span>网站公告</span></a></li>
      </ul>


    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->

  <div class="mainpanel">

    <div class="headerbar">

      <a class="menutoggle"><i class="fa fa-bars"></i></a>

      <!--<form class="searchform" action="index.html" method="post">
        <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
      </form>-->

      <div class="header-right">
        
      </div><!-- header-right -->

    </div><!-- headerbar -->

    <div class="pageheader">
      <h2><i class="fa fa-home"></i> 调查管理 </h2>
    </div>
    <form action="/admin/postSurvey" method="post">

    <div class="contentpanel">
      <div class="row">
        <div class="form-group">

          <label class="col-sm-3 control-label" style="text-align:right;">请输入调查问题 <span style='color:#f00;'>*</span></label>
          <div class="col-sm-6">
            <input type="text" id="question-input" name="question" value="{{question}}" placeholder="请输入调查问题" class="form-control">
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="col-sm-3 control-label" style="text-align:right;">选项一 <span style='color:#f00;'>*</span></label>
          <div class="col-sm-6">
            <input type="text" placeholder="选项一" name="answer1" value="{{answer1}}" id="answer1-input" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" style="text-align:right;">选项二 <span style='color:#f00;'>*</span></label>
          <div class="col-sm-6">
            <input type="text" placeholder="选项二" name="answer2" value="{{answer2}}" id="answer2-input" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" style="text-align:right;">选项三</label>
          <div class="col-sm-6">
            <input type="text" placeholder="选项三" name="answer3" value="{{answer3}}" id="answer3-input" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" style="text-align:right;">选项四</label>
          <div class="col-sm-6">
            <input type="text" placeholder="选项四" name="answer4" value="{{answer4}}" id="answer4-input" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" style="text-align:right;">选项五</label>
          <div class="col-sm-6">
            <input type="text" placeholder="选项五" name="answer5" value="{{answer5}}" id="answer5-input" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" style="text-align:right;">选项六</label>
          <div class="col-sm-6">
            <input type="text" placeholder="选项六" name="answer6" value="{{answer6}}" id="answer6-input" class="form-control">
          </div>
        </div> -->
        <input type="submit" style="display:none;" id="form-submit-post"/>
      </div>
    </div><!-- contentpanel -->
  </form>
  <div class="form-group">
    <button class="btn btn-warning" id="form-post-post" style='width:100px;margin: 0 auto; display:block;'>提交</button>
  </div>






  </div><!-- mainpanel -->

</section>
{{> admin/foot}}
</body>
<script type="text/javascript">
  $("#form-post-post").click(function(){
    if($("#question-input").val()=="")
    {
      alert("请输入调查问题！");
      return;
    }
    if($("#answer1-input").val()=="")
    {
      alert("请输入选项一！");
      return;
    }
    if($("#answer1-input").val()=="")
    {
      alert("请输入选项二！");
      return;
    }

    $("#form-submit-post").trigger("click");
  });
</script>
</html>
