<!DOCTYPE html>
<html lang="en">
<head>
{{> admin/header}}
</head>

<body>



<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

  <div class="leftpanel">

    <div class="logopanel">
        {{> admin/left}}
    </div><!-- logopanel -->

    <div class="leftpanelinner">

      <h5 class="sidebartitle">功能导航</h5>
      <ul class="nav nav-pills nav-stacked nav-bracket">
        <!--<li><a href="/admin/index"><i class="fa fa-home"></i> <span>管理主页</span></a></li>-->
        <li><a href="/admin/adminUserManager">
        <!--<span class="pull-right badge badge-success">2</span>-->
        <i class="fa fa-laptop"></i> <span>管理员管理</span></a></li>
        <li><!-- class="nav-parent"-->
        <a href="/admin/advUserManager">
        <i class="fa fa-laptop"></i>
         <span>广告用户管理</span></a>
        </li>
        <li class="active"><a href="/admin/userManager">
        <!--<span class="pull-right badge badge-success">2</span>-->
        <i class="fa fa-laptop"></i> <span>普通用户管理</span></a></li>


        <li><a href="/admin/surveyManager">
        <!--<span class="pull-right badge badge-success">2</span>-->
        <i class="fa fa-laptop"></i> <span>调查管理</span></a></li>

        <li><a href="/admin/systemNotice">
        <!--<span class="pull-right badge badge-success">2</span>-->
        <i class="fa fa-laptop"></i> <span>网站公告</span></a></li>
      </ul>



    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->

  <div class="mainpanel">

    <div class="headerbar">

      <a class="menutoggle"><i class="fa fa-bars"></i></a>

      <!--<form class="searchform" action="index.html" method="post">
        <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
      </form>-->

      <div class="header-right">
      
      </div><!-- header-right -->

    </div><!-- headerbar -->

    <div class="pageheader">
      <h2><i class="fa fa-laptop"></i> 普通用户查看 </h2>
    </div>

    <div class="contentpanel">

      <div class="row">

      <div class="mb20">
        <!-- Nav tabs -->
        <!-- Tab panes -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="panel-close">×</a>
              <a href="" class="minimize">−</a>
            </div>
            <h4 class="panel-title">管理员管理</h4>
          </div>
        <div class="tab-content mb30">
          <div class="tab-pane active" id="home2">
            <div class="table-responsive">
              <!--<button class="btn btn-primary advuser-add-btn" style="float:right;margin-bottom:10px;">添加用户</button>-->
          <table class="table table-success table-hover mb30" id="advuser-table">
            <thead>
              <tr>
                <th>#</th>
                <th>用户ID</th>
                <th>用户姓名</th>
                <th>性别</th>
                <th>所属城市</th>
                <th>地址</th>
                <th>签名</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody id="advuser-table-tbody">
              <tr>
              </tr>
            </tbody>
          </table>
          
          </div>
          </div>
        </div>
        </div>
  
        
        </div>
      </div><!-- row -->


    </div><!-- contentpanel -->

  </div><!-- mainpanel -->

  <div class="rightpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i></a></li>
        <li><a href="#rp-favorites" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
        <li><a href="#rp-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
        <li><a href="#rp-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="rp-alluser">
            <h5 class="sidebartitle">Online Users</h5>
            <ul class="chatuserlist">
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/userprofile.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Los Angeles, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user1.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <span class="pull-right badge badge-danger">2</span>
                            <strong>Zaham Sindilmaca</strong>
                            <small>San Francisco, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Bangkok, Thailand</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>

            <div class="mb30"></div>

            <h5 class="sidebartitle">Offline Users</h5>
            <ul class="chatuserlist">
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Los Angeles, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Zaham Sindilmaca</strong>
                            <small>San Francisco, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Bangkok, Thailand</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="rp-favorites">
            <h5 class="sidebartitle">Favorites</h5>
            <ul class="chatuserlist">
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Los Angeles, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user1.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Zaham Sindilmaca</strong>
                            <small>San Francisco, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Bangkok, Thailand</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="rp-history">
            <h5 class="sidebartitle">History</h5>
            <ul class="chatuserlist">
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Hi hello, ctc?... would you mind if I go to your...</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Zaham Sindilmaca</strong>
                            <small>This is to inform you that your product that we...</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Are you willing to have a long term relat...</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
        </div>
        <div class="tab-pane pane-settings" id="rp-settings">

            <h5 class="sidebartitle mb20">Settings</h5>
            <div class="form-group">
                <label class="col-xs-8 control-label">Show Offline Users</label>
                <div class="col-xs-4 control-label">
                    <div class="toggle toggle-success"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-8 control-label">Enable History</label>
                <div class="col-xs-4 control-label">
                    <div class="toggle toggle-success"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-8 control-label">Show Full Name</label>
                <div class="col-xs-4 control-label">
                    <div class="toggle-chat1 toggle-success"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-8 control-label">Show Location</label>
                <div class="col-xs-4 control-label">
                    <div class="toggle toggle-success"></div>
                </div>
            </div>

        </div><!-- tab-pane -->

    </div><!-- tab-content -->
  </div><!-- rightpanel -->


</section>


{{> admin/foot}}
<script type="text/javascript">
$.ajax({
    url:"/admin/getRegistryUser",
    async:false,
    cache:false,
    success:function(data){
        var html="<tr>"+
                "<td><<index>></td>"+
                "<td><<userid>></td>"+
                "<td><<username>></td>"+
                "<td><<sex>></td>"+
                "<td><<city>></td>"+
                "<td><<address>></td>"+
                "<td><<mark>></td>"+
                "<td data='<<userid>>'><a class='btn-advuser-del' style='width:80px;margin:10px;'>删除</a></td>"+
                "</tr>";
        var result="";

        for(var i=0;i<data.length;i++)
        {
            var tmp=data[i];
            result+=html.replace("<<index>>",i+1)
                            .replace("<<userid>>",tmp.Id)
                            .replace("<<username>>",tmp.username)
                            .replace("<<sex>>",tmp.sex=="1"?"男":"女")
                            .replace("<<city>>",tmp.cityname)
                            .replace("<<address>>",tmp.address)
                            .replace("<<mark>>",tmp.mark)
                            .replace("<<userid>>",tmp.Id);
        }
        $("#advuser-table-tbody").html(result);
        $(".btn-advuser-mod").click(function(){
          var username=$(this).parent().attr("data");
          window.location="/admin/adminUserManagerMod?userid="+username;
        });
        $(".btn-advuser-del").click(function(){
          var username=$(this).parent().attr("data");
          alert(username);
          $.ajax({
            url:"/admin/adminUserManagerDel?username="+username,
            async:false,
            cache:false,
            success:function(data){
              location.reload();
            }
          });
        });
    }
});

$(".advuser-add-btn").click(function(){
  window.location="/admin/adminUserManagerAdd";
});


$("#advUser_add_post_button").click(function(){
    $("#advUser_add_submit_button").trigger("click");
    $("#userid").val("");
    $("#username").val("");
    $("#password").val("");
    $("#passwords").val("");
    $("input[name='location']").removeAttr("checked");
    window.location="/admin/adminUserManager";
});


if($("#location_hidden")[0]!=null)
{
  var results=$("#location_hidden").val().split(',');
  console.log(results);
  for(var i=0;i<results.length;i++)
  {
    $("input[value='"+results[i]+"']").attr("checked","checked");
  }
  
}

</script>
</body>
</html>
